
{% extends 'adminPanel/adminBase.html' %}
{% block adminContent  %}

<script>
    $( ".listOrderAdmin" ).hide();
</script>
{% if product  %}
<div class="controlChoseAction">
    &nbsp;&nbsp;Edytujesz produkt <br />&nbsp;&nbsp;{{product.title}}
</div>
{% endif  %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 ">
            <form action="" method="POST">
                {% csrf_token  %}
            
                {{ forms.as_p  }}
                {{ forms.media  }}
                <button type="submit" href="" class="btn btn-sm animated-button thar-three">Zapisz</button>
            </form>
        </div>
        <div class="col-6">

        </div>
    </div>
    {% if product  %}
    <div class="row productPicturesAdminAction">
        <div class="col-3">
            <img src="{{ product.pic1.url  }}" alt="product img" class="imgProductAction" />
        </div>
        <div class="col-3">
            <img src="{{ product.pic2.url  }}" alt="product img" class="imgProductAction" />
        </div>
        <div class="col-3">
            <img src="{{ product.pic3.url  }}" alt="product img" class="imgProductAction" />
        </div>
        <div class="col-3">
            <img src="{{ product.pic4.url  }}" alt="product img" class="imgProductAction" />
        </div>
    </div>
    {% endif  %}
</div>

{% endblock   %}