{% load static  %}
{% load i18n  %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>ww-tech</title>
    <meta name="description" content="ww-tech to nowy sklep minigowy na rynku">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminPanel/controlPanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/randomStuff.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminPanel/controlPanelGrid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/orderNav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/orderUserList.css' %}"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="{% static 'js/jquery.js'  %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/randomStuff.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">
</noscript>

</head>
<body>
<div class="container">
    <div class="row">
       <div class="adminPanelNav">
           <div class="col-12">
            <div class="adminPanelNavText">
                <div>
                    <a class="adminPanelNavText" href ="{% url 'control'  %}">ww-tech admin panel</a>
                </div>
            </div>
           </div>
           
               
            </div>
          
       </div>
    </div>
</div>
<div class="container">
    <div class="grid-container-ControlPanel">
        <div class="controlPanelColLeft">
            <div class="listOrderAdmin">
                <div class="userWelcomeOrderPC">
                    {% trans "Witaj" %},
                    <div class="userNamePC">
                        {{ request.user.customer  }}
                    </div>
                </div>
                <a href="{% url 'controlPanelOrders'  %}" class="linkOrderPC">
                    <span class="iconOrderPC"> <i class="fas fa-stream"></i> </span>
                    <span class="textOrderPC">{% trans "Zamówienia"  %}</span>
                </a>
                <a  href="{% url 'controlPanelProducts'  %}"class="linkOrderPC">
                    <span class="iconOrderPC"><i class="fas fa-cubes"></i> </span>
                    <span class="textOrderPC">{% trans "Produkty"  %}</span>
                </a>
                <a  href="{% url 'controlPanelProductsDisplayed'  %}"class="linkOrderPC">
                    <span class="iconOrderPC"><i class="fas fa-cubes"></i> </span>
                    <span class="textOrderPC">{% trans "Widoczność"  %}</span>
                </a>
                <a  href="{% url 'controlPanelProductsStock'  %}"class="linkOrderPC">
                    <span class="iconOrderPC"><i class="fas fa-cubes"></i> </span>
                    <span class="textOrderPC">{% trans "Braki"  %}</span>
                </a>
                
                

                    <a  href="{% url 'controlPanelCategories'  %}"class="linkOrderPC">
                        <span class="iconOrderPC"> <i class="fas fa-angle-double-right"></i></span>
                        <span class="textOrderPC">{% trans "Kategorie"  %}</span>
                    </a>
                
                
                    <a  href="{% url 'controlPanelShipMethod'  %}"class="linkOrderPC">
                        <span class="iconOrderPC"> <i class="fas fa-truck-loading"></i></span>
                        <span class="textOrderPC">{% trans "Dostawcy"  %}</span>
                    </a>
                
                
                    <a  href="{% url 'controlPanelHelpList'  %}"class="linkOrderPC">
                        <span class="iconOrderPC"> <i class="fas fa-book-open"></i> </span>
                        <span class="textOrderPC">{% trans "Kategorie Pomocy"  %}</span>
                    </a>
                
               
                    <a  href="{% url 'controlPanelCategoryContentList'  %}"class="linkOrderPC">
                        <span class="iconOrderPC"><i class="fas fa-cubes"></i> </span>
                        <span class="textOrderPC">{% trans "Pomoc"  %}</span>
                    </a>
                
            </div>
        </div>
        <div class="controlPanelColRight">
            {% block adminContent  %}
    
    
    
            {% endblock  %}
        </div>
    </div>
</div>











<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
