{% extends 'adminPanel/adminBase.html' %}
{% load i18n  %}
{% load static  %}
{% block adminContent  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="controlChoseAction">
                Braki magazynowe: 
            </div>
        </div>
    </div>
        {% for x in products  %}
        <a class="linkDetailOrderUser" href="{% url 'controlPanelProductsDetail' pk=x.id %}">
            <div class="row no-gutters orderListBorder">
                <div class="col-md-4 col-sm-12 ">
                    <div class="leftColOrderUserList" 
                    {% if x.stock == 0 %}
                        style="background-color: rgb(255, 235, 235);"
                    {% else  %}
                        style="background-color: rgb(235, 255, 235);"
                    {% endif  %}>    
                        <div class="leftContentColOrderList">
                            {%  trans "Produkt ID" %}
                            <b>{{ x.id  }}</b><br />
                            <span class="colorTest">
                                {% if x.stock == 0  %}
                                <span style="color: rgb(238, 110, 110);">&nbsp;{{ x.stock }} {% trans "sztuk w magazyie" %}</span>
                                {% else %}
                                &nbsp;{{ x.stock }} {% trans "sztuk w magazyie" %}
                                {% endif  %}
                                
                            </span>
                            <br />
                            {% trans "cena za sztuke: "  %}
                            {% if not x.priceNormal  %}              
                                {{ x.pricePromo  }} {% trans "zł"  %}
                            {% else  %}
                                {{  x.priceNormal }} {% trans "zł"  %}
                            {%  endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 ">
                    <div class="rightColOrderUserList">      
                        <div class="rightContentColOrderList">
                            <div class="rightContainerColOrderList">
                                <img class="pictureOrderWrapper" src="{{ x.pic1.url }}" alt="product image"/>
                                <div class="productOrderWrapper">
                                    {{  x.title}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% empty %}
        <div class="controlChoseAction">
            Wszystkie produkty są dostępne
        </div>
        {%  endfor %}
    </div>
</div>

{% endblock  %}