{% extends 'adminPanel/adminBase.html' %}
{% load i18n  %}
{% load static  %}
{% block adminContent  %}


<div class="container">
    <div class="row">
        {% for x in categories  %}
        <div class="col-md-3 col-sm-6 ">
            <a href="{% url 'controlPanelCategoryDetail' pk=x.id  %}">
                <div class="colAdminWrapper">
                    <div class="colControlText">
                        {{ x }}
                    </div>
                    <div class="colControlIcon">
                        <i class="fas fa-stream"></i>
                    </div>
                </div>
            </a>
        </div>
        {% endfor  %}
        <div class="col-md-3 col-sm-6 ">
            <a href="{% url 'controlPanelCategoryAdd'  %}">
                <div class="colAdminWrapper">
                    <div class="colControlText">
                    </div>
                    <div class="colControlIcon colControlIconAdd">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>





{% endblock  %}