{% extends 'adminPanel/adminBase.html' %}
{% block adminContent  %}
{% load i18n  %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/controlPanel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="containerOrderPanel">
    <div class="container">
        <div class=" controlChoseAction">
            {% trans "Zamówienia" %} 
        </div>
        <div class="row no-gutters rowStylingName">
            <div class="col-3">
                <div class="orderDisplayName">
                   ID Tranzakcji 
                </div>
            </div>
            <div class="col-3">
                <div class="orderDisplayName">
                   Adresat
                </div>
            </div>
            <div class="col-3">
                <div class="orderDisplayName">
                    Adres
                </div>
            </div>
            <div class="col-2">
                <div class="orderDisplayName">
                   Data
                </div>
            </div>
            <div class="col-1">
                <div class="orderDisplayName">
                    Wysłano
                </div>
            </div>
        </div>
        <span >
            <div class="searchBar">
                <form role="search" method="POST" class="product-search formNavbar" action="" autocomplete="off">
                    {% csrf_token  %}
                    <input type="search"  value="{{query}}" class="search-field navbarInput" placeholder="{% trans 'Szukaj produktów…'  %}"  name="searchProduct">
                    <button type="submit" class="btnSubmit"><i class="fas fa-search"></i></button>
                    <input type="hidden" name="post_type" value="product">
        
                </form>
            </div> 
        </span>
        {% for x in shipments  %}
        <a href="{% url 'controlPanelOrdersDetail' pk=x.transaction_id  %}" class="rowStylingLink">

        
            <div class="row no-gutters rowStyling"
            {% if x.processed == no  %} 
            style="background-color: black;"
            {% endif  %}>
                <div class="col-3">
                    <div class="orderDisplay">
                        {{ x.transaction_id  }}
                    </div>
                </div>
                <div class="col-3">
                    <div class="orderDisplay">
                        {{ x.recipient  }}
                    </div>
                </div>
                <div class="col-3">
                    <div class="orderDisplay">
                        {{  x.adress }}
                    </div>
                </div>
                <div class="col-2">
                    <div class="orderDisplay">
                        {{  x.date_added|date:"d M Y" }}
                    </div>
                </div>
                <div class="col-1">
                    <div class="orderDisplay"
                    {% if x.processed == True  %} 
                    style="background-color: rgb(173, 236, 176);"
                    {% else  %}
                    style="background-color: rgb(236, 173, 173);"
                    {% endif  %}>
                        {{  x.processed  }}

                    </div>
                </div>
            </div>
        </a>
        {% endfor  %}
    </div>
</div>



<script>
    $('.footerDisable').hide();
</script>


{% endblock  %}