.slide1Data{
    width:95%;
    margin-left: 1%;
    color: #000;
    opacity: .8;
    padding-top: 3%;
  }
  .link{
    width:80%;
    margin-left: 10%;
    color: #000;
    opacity: .8;
  }
  .slide1DataData>img{
    max-width: 100%;
    margin-top: -5%;
  }
  .slide2Data img{
    max-width: 100%;
    right: 5%;
    display: block;
    position: relative;
  }
  .titleData{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    opacity: .7;
    color: #000;
    font-size: 60px;
    opacity: .8;
    text-align: left;
    margin-left: 12vh;
    padding-top: 10%;
  }
  .titleAbout{
    font-size: 25px;
    text-align: left;
    opacity: .8;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
    margin-left: 12vh;
    margin-top: -10px;
  }
  .timePOS{
    position: relative;
    top: 10%;
    max-width: 75%;
    left: 0;
  }
  .buttonMobile{
    display: none;
  }
  .navbarLogoCarouselWrapper{
    width: 100%;
    display: block;
    height: 100%;
  }
  .carouselList{
    color: rgb(8, 8, 8);
    min-width: 80%;
    text-align: center;
    margin-left:10%;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top:5vh;
    padding-bottom: 0.5vh;
    opacity: 0.2;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
  }
  .carouselList:hover {
    color:rgb(0, 130, 250);
    opacity: 0.9;
    cursor: pointer;
  }
  .carActive{
    opacity: 1;
    border-bottom: rgb(0, 130, 250) 5px solid;
  }
  .wwTechPic{
    display: none;
  }
  .backToShop {
    min-height:20vh;
    padding-top: 15%;
    text-align: right;
  }
  .backToShop a, .backToShop a:hover,.backToShop a::after {
    color: #000;
    opacity: 0.7;
  }
  .responsiveImgIndex{
    max-width: 80%;
    margin-left: 10%;
  }
  .slide1Title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000;
    opacity: 0.9;
    font-size: 35px;
    letter-spacing: -1px;
  }
  .slide1SecondTitle{
    margin-top: 1vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000;
    opacity: 0.9;
    font-size: 35px;
    letter-spacing: -1px;
  }
  .slide1Content{
    padding-top:1vh;
    font-size: 18px;
    text-align: left;
    width:98%;
    margin-left:1%;
  }
  .buttonMobile{
    width: 100%;
    height: 100%;
  }
  .slide2Data img{
    border-radius: 7px;
    margin-top:5vh;
  }
  .arrowNavigationMobile{
    display:none;
  }
  .carouselList.active{
    color:rgb(0, 130, 250);
    opacity: 0.9;
    -webkit-transition: opacity 1s ease;
  }
.containerBorder{
    height:110vh;
    width:auto;
}
.wrapperOverlayAbout{
    margin-top: 20vh;
    z-index:10;
}
#endShop{
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 130, 250);
  width: 80%;
  margin-left: 0%;
  color: rgb(41, 41, 41);
  transition: 0.2s linear;
  font-weight: 700;
  font-size:20px
}

#endShop:hover {
  color:white;
  background-color: rgb(0, 130, 250);
  transition: 0.2s linear;
  cursor: pointer;
}
.dotColor{
  color: rgb(0, 130, 250);
}
@media (max-width: 1450px){
    .wrapperOverlayAbout{
      margin-top: 30vh;
  }
}
@media (max-width: 1250px){
  .titleAbout{
    font-size:20px;
  }
  .titleData {
    font-size: 45px;
    padding-top: 2%;
}
#endShop {
  font-size: 17px;
}
.slide1Data {
  padding-top: 0%;
}
.slide1Title,.slide1SecondTitle {
  font-size: 27px;
}
.slide1Content {
  font-size: 15px;
}

}

@media (max-width: 1050px){
.slide1Content {
    font-size: 15px;
  }
  .slide1Title,.slide1SecondTitle {
    font-size: 26px;
  }
  .slide1Data {
    padding-top: 0%;
  }
  .titleAbout {
      font-size: 18px;
  }.titleData {
    font-size: 30px;
  } 
}

  @media (max-width: 770px){

    .chose{
      display: none;
    }
    .slide2Data img,.slide3Data img{
        display: none 
   }
    .titleData{
        width: 100%;
        margin-left: 0vh;
        font-size: 40px;
        text-align:center;
        padding-top:5px;
   }
    .titleAbout{
        margin-left: 10px;
        text-align:center;
        font-size: 20px;
   }
    .navbarLogoCarouselWrapper{
        display: none;
   }
    .slide1Title {
        font-size: 27px;
   }
    .slide1Content {
        padding-top: 0.5vh;
        font-size: 15px;
   }
    .slide1SecondTitle {
        margin-top: 0.5vh;
        font-size: 27px;
   }
    .buttonMobile{
        display: block;
   }
    .timePOS {
        top: 10%;
        max-width: 100%;
        left: 0;
   }
    .backToShop {
        min-height: 20vh;
        padding-top: 25%;
        font-size: 25px;
        text-align: center;
   }
  }
  @media (max-width: 448px){
    
    .titleData{
        padding-top:10px;
   }
    .titleAbout{
        margin-left: 5px;
        margin-top: 5px;
   }
    .slide1Title {
        padding-top: 2vh;
        font-size: 30px;
   }
    .slide1Content {
        padding-top: 0.5vh;
        font-size: 14px;
   }
    .slide1SecondTitle {
        font-size: 30px;
   }
    .timePOS {
        top: 10%;
        max-width: 100%;
        left: 0;
   }
    .backToShop {
        padding-top: 20%;
   }
   .wrapperOverlayAbout{
    margin-top: 45vh;
  }
  .containerBorder{
      height:80vh;
  }
  .containerBorder{
    height:120vh;
  }
  }
  @media (max-width: 395px){
    .titleData{
        padding-top:10px;
   }
    .titleAbout{
        margin-left: 5px;
        margin-top: 5px;
   }
    .slide1Title {
        padding-top: 2vh;
        font-size: 30px;
   }
    .slide1Content {
        padding-top: 0.5vh;
        font-size: 15px;
   }
    .slide1SecondTitle {
        font-size: 30px;
   }
    .timePOS {
        top: 10%;
        max-width: 100%;
        left: 0;
   }
    .backToShop {
        padding-top: 35%;
   }
   .containerBorder{
    height:100vh;
  }
  }
  @media (max-width: 377px){
    .titleData{
        padding-top:5px;
   }
    .titleAbout{
        margin-left: 5px;
        margin-top: 2px;
   }
    .slide1Title {
        padding-top: 1vh;
        font-size: 25px;
   }
    .slide1Content {
        padding-top: 0.5vh;
        font-size: 12px;
   }
    .slide1SecondTitle {
        font-size: 25px;
   }
    .timePOS {
        top: 10%;
        max-width: 100%;
        left: 0;
   }
    .backToShop {
        padding-top: 25%;
   }
   .wrapperOverlayAbout{
    margin-top: 50vh;
  }

  }
  