body{
	margin:0px;
	padding: 0px;
}
select {
	outline: none;
}


.containerProducts{
	width: 60%;
	display: block;
	margin-left: 20%;
	margin-top: 3%;
}
.qaz{
	width: 100%;
	height: auto;
	border-radius: 10px;
	padding:17px 0 18px;
	
}
.qaz:hover{
	box-shadow: rgba(0, 0, 0, 0.065) 0px 0px 2px 1px, rgba(0, 0, 0, 0.066) 0px 4px 8px 0px;
	transition:  300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;}
	

.containerWrapper
/* Main container */
.cbp-vm-switcher {
	padding: 20px;

}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
	text-align: left;
	border-radius: 0px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.065) 0px 0px 2px 1px, rgba(0, 0, 0, 0.066) 0px 4px 8px 0px;
	height: 5vh;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding-left: 1vw;
	
}

.cbp-vm-options a {
	display: inline-block;
	width: 40px;
	font-size: 22px;
	overflow: hidden;
	white-space: nowrap;
	color: #d0d0d0;
	margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
	color: #2c2c2c;
}

.cbp-vm-options a:before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
	content: " "; 
	display: table; 
}

.cbp-vm-switcher ul:after { 
	clear: both; 
}

.cbp-vm-switcher ul li {
	display: block;
	position: relative;
}

.cbp-vm-image {
	display: block;
	margin: 0 auto;
	height: 14vh;
}

.cbp-vm-image img {
	display: inline-block;
	width: 70%;
	border: none;
}

.cbp-vm-title {
	margin: 0;
	padding: 0;
}

.cbp-vm-price {
	color: #c0c0c0;
}

a.cbp-vm-add,a.cbp-vm-block {
	font-size: 20px;
	border: 1px solid rgb(81, 196, 36);
	width: 45px;
	height: 45px;
	margin-left: 10%;
	border-radius: 50%;
	color:rgb(81, 196, 36) !important;
	padding: 5px 8px;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
	visibility: hidden;
	
}
a.cbp-vm-block{

	border: 1px solid rgb(128, 128, 128);

	color:rgb(71, 71, 71) !important;

	cursor: not-allowed;	
}

.qaz:hover .cbp-vm-add,.qaz:hover .cbp-vm-block{
	visibility: visible;
}

.cbp-vm-add:hover {
	background-color: rgb(81, 196, 36);
	color:white !important;
	
}
a:hover .cbp-vm-add{
	color:white;
}

.cbp-vm-add:before {
	margin-right: 5px;
}

/* Common icon styles */
.cbp-vm-icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid ul {
	text-align: center;
}

.cbp-vm-view-grid ul li {
	width: 28%;
	margin: 20px 12px 0;
	display: inline-block;
	vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-title {
	font-size: 16px;
	text-align: left;
	padding:15px 20px;
	font-family: 'Montserrat', sans-serif;
	height: 7vh;
	font-weight: 400;
}

.cbp-vm-view-grid .cbp-vm-details {
	max-width: 300px;
	min-height: 70px;
	margin: 0 auto;
	display: none;

} 

.cbp-vm-view-grid .cbp-vm-price {
	font-size: 14px;
	width: 50%;
	font-family: 'Lato', sans-serif;
	color:rgb(168, 168, 168);
	float: left;
	display: block;
	padding-top:15px
	
}


/* List view */
.cbp-vm-view-list li {
	padding: 20px 0;
	white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
	display: inline-block;
	vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
	width: 22%;
	padding-left: 20px;
}
.cbp-vm-view-list .cbp-vm-image img{
	width: 90%;	
}
.cbp-vm-view-list .cbp-vm-title {
	font-size:20px;
	padding: 0 5px;
	white-space: normal;
	width: 26%;
	font-weight: 400;
}

.cbp-vm-view-list .cbp-vm-price {
	font-size: 17px;
	width: 10%;
}

.cbp-vm-view-list .cbp-vm-details {
	width: 30%;
	padding: 0 15px;
	font-size: 15px;
	overflow: hidden;
	white-space: normal;

}

.cbp-vm-view-list .cbp-vm-add {
	font-size: 20px;
	width: 6%;
	text-align: center;
    border-radius: 20px;
	padding-top:10px;
	padding-bottom: 10px;
	line-height: 0px;
	margin-left:0%;
	visibility: visible;
}
.cbp-vm-price-promo{
	font-size: 12px;
	color:rgb(163, 163, 163);
	text-decoration: line-through;
	position: absolute;
	margin-left:45px;
}

.cbp-vm-view-list .cbp-vm-price-promo{
	font-size: 12px;
	color:rgb(163, 163, 163);
	text-decoration: line-through;
	position: absolute;
	left:45%;
	top:33%
}


@media screen and (max-width: 1500px) {
	.cbp-vm-image {
		height: 17vh;
	}
}
@media screen and (max-width: 1450px) {
	.cbp-vm-title-new {
		margin-top: 8vh !important;
	}
	.cbp-vm-view-grid .cbp-vm-title {
		margin-top: 1.5vh;
	}
}
@media screen and (max-width: 1300px) {
	.cbp-vm-title-new {
		margin-top: 7vh !important;
	}
} 

@media screen and (max-width: 1065px) {
	.cbp-vm-view-list .cbp-vm-details  {
		width: 30%;
	}
} 

@media screen and (max-width: 950px) {
	.cbp-vm-view-grid ul li {
		width: 40%;
	}
}

@media screen and (max-width: 775px) {
	.cbp-vm-view-grid ul li {
		width: 40%;
	}
	.cbp-vm-view-list .cbp-vm-image {
		width: 20%;
	}

	.cbp-vm-view-list .cbp-vm-title {
		width: auto;
	}

	.cbp-vm-view-list .cbp-vm-details  {
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	.cbp-vm-view-list .cbp-vm-add  {
		margin: 10px;
	}
	.cbp-vm-options {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.cbp-vm-view-list .cbp-vm-title {
		font-size: 17px;
	}
	.cbp-vm-view-list .cbp-vm-image,
	.cbp-vm-view-list .cbp-vm-title,
	.cbp-vm-view-list .cbp-vm-details,
	.cbp-vm-view-list .cbp-vm-price,
	.cbp-vm-view-list .cbp-vm-add {
	display: block;
	vertical-align: middle;
	}
	.cbp-vm-view-list .cbp-vm-price {
		font-size: 19px;
		width: 100%;
		height: 5vh;
		margin-top: 1vh;
		padding-left:10px;
	}
	.cbp-vm-view-list .cbp-vm-title {
		padding-left:10px;
		margin-top: 2vh;
		font-weight: 500;
	}
	.cbp-vm-view-list .cbp-vm-image {
		width: 100%;
		padding-left: 20px;
	}
	.cbp-vm-view-list .cbp-vm-image img{
		width: 60%;
		margin-left:20%;	
	}
	.cbp-vm-view-list .cbp-vm-add {
		font-size: 20px;
		width: 50%;
		margin-left:25%;	
	}
	.cbp-vm-view-list .cbp-vm-price-promo{
		font-size: 15px;
		left:19%;
		top:61%
	}
}

@media screen and (max-width: 639px) {
	.cbp-vm-view-grid ul li {
		width: 100%;
	}
	.cbp-vm-view-grid .cbp-vm-price {
		font-size: 15px;
		width: 50%;
		padding: 15px 20px;
		text-align: left;
	}
	.cbp-vm-view-grid .cbp-vm-image {
		width: 100%;
		padding-left: 20px;
	
	}
	.cbp-vm-view-grid .cbp-vm-image img{
		width: 50%;	
	}
	.cbp-vm-view-grid .cbp-vm-add {
		visibility: visible
	}
}
@media screen and (max-width: 420px) {
	.cbp-vm-view-grid .cbp-vm-title {
		margin-top: 4vh;
	}
	.cbp-vm-price-promo {
		height: 6vh;
		padding-top: 1vh;
	}
	.cbp-vm-view-grid .cbp-vm-price {
		margin-top: 1vh;
	}
	.cbp-vm-title-new {
		margin-top: 11vh !important;
	}
	.cbp-vm-view-grid .cbp-vm-image {
		width: 100%;
	
	}
	.cbp-vm-view-grid .cbp-vm-image img{
		width: 60%;
	}
	.cbp-vm-view-grid ul li {
		margin: 20px 0px 0;

	}
	.cbp-vm-view-list .cbp-vm-details {
		display: block;
		width: 100%;
		
	}
	.cbp-vm-options {
		height: 7vh;
		padding-left: 1vw;
	}
	.cbp-vm-view-list .cbp-vm-price-promo{
		font-size: 13px;
		margin-left:10px;
		left: 0;
		top:61%	
	}
	.cbp-vm-view-list .cbp-vm-title {
		margin-top: 8vh;
	}
	.cbp-vm-view-list .cbp-vm-add {
		width: 45px;
		height: 45px;
		line-height: 33px;
		margin-left: 10%;
		padding: 5px 8px;
		border-radius: 50%;
		margin-left: 80%;
	}


}


@media screen and (max-width: 380px) {
	.cbp-vm-view-list .cbp-vm-price-promo{
		top:60%	
	}
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
		.cbp-vm-title-new {
			margin-top: 8vh !important;
		}
	}

@media screen and (max-width: 330px) {
	.cbp-vm-view-grid ul li {
		width: 100%;
	}
	.cbp-vm-view-grid .cbp-vm-title {
		font-weight: 500;
		font-size: 16px;
	}
	.cbp-vm-view-list .cbp-vm-title {
		padding-left: 10px;
		margin-top: 2vh;
		font-weight: 500;
	}
	.cbp-vm-view-grid .cbp-vm-price {
		font-size: 16px;
		width: 50%;
		padding: 15px 20px;
		text-align: left;
	}
	.cbp-vm-view-grid .cbp-vm-image img{
		width: 60%;	
	}
	.cbp-vm-view-list .cbp-vm-add {
		font-size: 20px;
		width: 60%;
		margin-left:20%;	
	}
	.cbp-vm-view-list .cbp-vm-price-promo{
		top:56%	
	}
}
