.categoryRootMobile,.grid-container-mobile{
    display: none;
}

.topBarWrapper{
    width: 70%;
    margin-left: 15%;
}
.topBarTextLeft,.topBarTextRight{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.topBarTextRight{
    text-align: left;
}
.topBarTextLeft{
    text-align: right;
}
.hide-scroll {
    overflow: hidden;
    margin-bottom: calc(-0.1 * var(--gutter));
  }
.product-search {
    margin-top: 1vh;
    height: 40px;
    border-radius: 30px;
    background: #fff;
    position: relative;
    padding-right: 120px;
    padding-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
}
.search-field {
    border: 0;
    height: 37px;
    width: 100%;
    background: 0 0;
    font-size: 14px;
    padding-left: 15px;
}

 .btnSubmit{
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    right: -2px;
    top: -2px;
    height: 40px;
    min-width: 80px;
    text-align: center;
    border-radius:20px;
    border: 0;
    font-weight: 500;
    color: #ffffff;
    background: rgb(77, 77, 77);
    border:none;
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.btnSubmit:hover {
    background: rgb(26, 26, 26);
}
.search-categories>select {
    color: #6b6b6b;
    font-size: .938em;
    line-height: 1.4em;
    display: inline-block;
    max-width: 60%;
    margin-left: ;
    padding: 0 1.75rem 0 .75rem;
    vertical-align: middle;
    background: #fff;
    background-size: 8px 10px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
textarea:focus, input:focus{
    outline: none;
}
.logoWrapper{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    font-style: italic;
    opacity: 0.9;
    margin-top: 1vh;
}
.cartWrapper{
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.iconWrapper1,.iconWrapper2,.iconWrapper3{
    display: flex;
    width: 33.33%;
    
}
.iconContent1,.iconContent2,.iconContent3{
    height: 56px;
    min-width: 100%;
    display: flex;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.tileLink{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    width: 100%;
    height: 100%;
    color:black;
}
.iconPic{
    font-size: 28px;
    width: 32px;
    height: 32px;
}
.tileLink:hover{
    color:black;
    text-decoration: none;
}
.iconText{
    font-size: 11px;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
    padding: 0 7px 0 7px;
}
.iconContent1:hover,.iconContent2:hover,.iconContent3:hover{
    border-top: none;
    border-radius: 8px 8px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px, rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
    background: rgb(255, 255, 255);
    z-index: 11;
    -webkit-box-shadow: 10px 0px 6px -3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 0px 6px -3px rgba(0, 0, 0, 0.16);
    box-shadow: 5px 0px 6px -3px rgba(0, 0, 0, 0.16);
    
}
.helpBox1,.helpBox2,.helpBox3{
    display: none;
    z-index: 10;
    position: absolute;
    top: 100%;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px, rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
    padding: 8px 0px 15px;
    left: 0px;
}
.helpBox2{
    left: 33.33%;
    min-width: 250px;
}
.helpBox3{
    right:0%;
    min-width: 250px;
}


.tileListHelpTitle{
    padding: 0px 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgb(112, 112, 112);
    font-size: 15px;
}
.listHelpBox{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0rem;
}
.listStyleHelpBox{
    list-style-type: none;
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
    height: 3.4vh;
    width: 100%;
    font-size: 14px;

}
.linkHelpBox{
    padding: 0px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
a.linkHelpBox{
    color: rgb(112, 112, 112);

}
a:hover.linkHelpBox{
    color: rgb(112, 112, 112);
    text-decoration: none;
}
.listStyleHelpBox:hover{
    background-color: rgb(245, 245, 245);
}
.dayBoxHelp,.hourBoxHelp{
    font-family: 'Montserrat', sans-serif;
    color: rgb(112, 112, 112);
    font-size: 10px;
}

.loginButtonHelpBox{
    width: 100%;
    padding: 16px;
}

.loginButtonHelpBox .linkLoginHelpBox,.loginButtonHelpBox .linkCreateHelpBox{
    background: rgb(0, 130, 250);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 130, 250);
    border-radius:20px;
    min-width: 100%;
    text-align: center;
    padding: 3px 0 3px 0;
}
.loginButtonHelpBox .linkCreateHelpBox{
    color: rgb(0, 130, 250);
    border: 1px solid rgb(0, 130, 250);
    background: rgb(255, 255, 255);
}
.hrLogin{
    margin: 22px 0px 21px;
    border-top: 1px solid rgb(221, 221, 221);
    position: relative;
}
.textHrLogin{
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgb(112, 112, 112);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 16px;
    width: 130px;
}
.categoryPC{
    width: 100%;
    height: 100%;
    padding:9px 0 9px;
}
.categoryPCLink{
    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





@media (max-width:1500px){
    .logoWrapper{
        font-size: 23px;
    }
}
@media (max-width:1220px){
    .logoWrapper{
        text-align: center;
    }
    .grid-container-mobile{
        display: none;
    }
}
@media (max-width:950px){
    .categoryRootMobile,.grid-container-mobile{
        display: block;
    }
    .product-search {
        margin-top: 1.5vh;
    }
    .colorDotNav{
        color: rgb(52, 147, 255);
    }
    .iconPic{
        font-size: 23px;
    }
    .iconText {
        font-size: 11px;
        line-height: 15px;
    }
    .product-search {
     width: 80%;
     margin-left:10%;
    }
    .logoWrapper{
        text-align:left;
        padding-left: 2vw;
        font-size: 25px;
    }
    .iconCategoryMobile{
        font-size: 35px;
        color: rgb(63, 63, 63);
    }
    .textCategoryMobile{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 1.7vh;
    }
    .linkCategoryMobile{
        width: 100%;
        height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    }


    .categoryRootMobile {
        --gutter: 20px;
      }
      
      .categoryMobile{
        padding: var(--gutter) 0;
        display: grid;
        grid-gap: var(--gutter) 0;
        grid-template-columns: var(--gutter) 1fr var(--gutter);
        align-content: start;
      }
      
      .categoryMobile > * {
        grid-column: 2 / -2;
      }
      
      .categoryMobile > .full {
        grid-column: 1 / -1;
      }
      
      .hs {
        display: grid;
        grid-gap: calc(var(--gutter) / 2);
        grid-template-columns: 10px repeat(5, calc(35% - var(--gutter) * 2)) 10px;
        grid-template-rows: minmax(130px, 1fr);
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: calc(0.75 * var(--gutter));
        margin-bottom: calc(-0.5 * var(--gutter));
        padding-top: calc(0.75 * var(--gutter));
        margin-top: calc(-0.5 * var(--gutter));
      }
      
      .hs:before,
      .hs:after {
        content: "";
      }
      
      /* Hide scrollbar */
      .hide-scroll {
        overflow-y: hidden;
        margin-bottom: calc(-0.1 * var(--gutter));
      }
      

      .categoryRootMobile{
        overflow: hidden;
        height: 100%;
        display: grid;
        place-items: center;
      }
      
      ul {
        list-style: none;
        padding: 0;
      }
      
      .categoryMobile {
        width: 100%;
        height: auto;
        overflow-y: scroll;
      }
      
      .hs > li,
      .itemCategoryMobile {
        scroll-snap-align: center;
        padding: calc(var(--gutter) / 2 * 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
        
      }
      


}

@media (max-width:380px){
    .textCategoryMobile {
        font-size: 11px;
    }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .hs {
            grid-template-columns: 10px repeat(5, calc(45% - var(--gutter) * 2)) 10px;
            grid-template-rows: minmax(130px, 1fr);
          }
        .product-search {
            margin-top: 2vh;
        }
        .iconText {
            padding: 0 0px 0 0px;
        }
     }
     


@media (max-width:330px){
    .iconPic {
        font-size: 21px;
  
    }
    .iconText {
        padding: 0 0px 0 0px;
    }
    .logoWrapper{
        font-size: 22px;
        margin-top: 1vh;
    }
    .hs {
        grid-template-columns: 10px repeat(5, calc(45% - var(--gutter) * 2)) 10px;
        grid-template-rows: minmax(130px, 1fr);
      }
  }
