
.carousel-section {
  border-top: 1px solid rgb(233, 233, 233);
  padding-bottom: 10px;
  margin-top: 20px;
  padding-top: 20px;
  overflow: hidden;
}
.carousel-section .owl-carousel .owl-stage {
  padding-left: 0 !important;
}
.carousel-section .owl-carousel .owl-stage-outer {
  overflow: unset;
}
.carousel-section .owl-carousel .owl-nav .owl-next,
.carousel-section .owl-carousel .owl-nav .owl-prev {
  width: 50px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  height: 50px;
  font-size: 30px;
}
.carousel-section .owl-carousel .owl-nav .owl-next:focus,
.carousel-section .owl-carousel .owl-nav .owl-prev:focus {
  outline: 0;
}
.newestImageContainer{
  height: 75%;
}
.newestTitleContainer{
  width: 96%;
  margin-left: 2%;
  height:25%;
  color:#007bff;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}
.newestImageContainerPosition{
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;
  margin-left:15%;
}
.carousel-section h2 {
  font-size: 34px;
  text-align: left;
  font-weight: 700;
}
.carousel-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.carousel-item__card {
  box-shadow: 0 13px 31px #fafafa;
  height: 200px;
  border-radius: 12px;
  font-weight: 500;
  border: 1px solid #ebebeb;
}
a.newestImageLink,a.newestImageLink:hover,a.newestImageLink:active {
	display: block;
	margin: 0 auto;
  color:#007bff;
  text-decoration: none;
}


.cbp-vm-title-new{
  font-size: 13px;
  text-align: center;
  z-index:10000;
  
}
.owl-nav{
  display: none;
}



@media screen and (max-width: 420px) {
  .newestTitleContainer {
    width: 90%;
    margin-left: 5%;
}
}
