
.carousel-section {
  border-top: 1px solid rgb(233, 233, 233);
  padding-bottom: 10px;
  margin-top: 10px;
  padding-top: 20px;
  overflow: hidden;
}
.carousel-section .owl-carousel .owl-stage {
  padding-left: 0 !important;
}
.carousel-section .owl-carousel .owl-stage-outer {
  overflow: unset;
}
.carousel-section .owl-carousel .owl-nav .owl-next,
.carousel-section .owl-carousel .owl-nav .owl-prev {
  width: 50px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  height: 50px;
  font-size: 30px;
}
.carousel-section .owl-carousel .owl-nav .owl-next:focus,
.carousel-section .owl-carousel .owl-nav .owl-prev:focus {
  outline: 0;
}
.carousel-section h2 {
  font-size: 34px;
  text-align: left;
  font-weight: 700;
}
.carousel-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.item {
  margin: 20px 0;
}
.carousel-item__card {
  box-shadow: 0 13px 31px #fafafa;
  height: 200px;
  border-radius: 12px;
  font-weight: 500;
  border: 1px solid #ebebeb;
}
.cbp-vm-image-new {
	display: block;
	margin: 0 auto;

}
.cbp-vm-image-new {
	display: block;
	margin: 0 auto;
  height: 10vh;
  margin-top: 1.4vh;
}
.cbp-vm-image-new img {
	display: inline-block;
	width: 50% !important;
  border: none;
  margin-left: 25%;
  border-radius: 3px;
}
.cbp-vm-title-new{
  font-size: 13px;
  text-align: center;
  margin-top: 5vh;
  width: 90%;
  margin-left: 5%;
}
.owl-nav{
  display: none;
}

@media screen and (max-width: 970px) {
  .cbp-vm-image-new {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-top: 1.4vh;
  }
  .cbp-vm-image-new img {
    display: inline-block;

    border: none;
   
  }
  .cbp-vm-title-new{
    font-size: 13px;
    text-align: center;
    margin-top: 0vh;
    width: 90%;
    margin-left: 5%;
  }
  .cbp-vm-title-new {
		margin-top: 1vh ;
	}
}

@media screen and (max-width: 420px) {
	.cbp-vm-image-new {
    margin-top: 3vh;
  }
  .cbp-vm-image-new img {
    display: inline-block;
    width: 70%;
    border: none;
    margin-left: 25%;
  }
  .cbp-vm-title-new{
    font-size: 13px;
    text-align: center;
    margin-top: 0vh;
    width: 90%;
    margin-left: 2%;
  }
  .cbp-vm-title-new {
		margin-top: 0vh ;
	}

}
@media screen and (max-width: 325px) {
	.cbp-vm-image-new {
    margin-top: 0vh;
  }
  .cbp-vm-image-new img {

  }
  .cbp-vm-title-new{
    margin-top: 1vh;
    text-align: center;
  }
  .cbp-vm-title-new {
		margin-top: 0vh ;
	}

}