{% extends 'base.html' %}
{% load static  %}
{% block content %}
{% load i18n  %}
<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-3">

        </div>
        <div class="col-sm-10 col-md-10 col-lg-6">
            <div class="containerPayed">
                <div class="errorTitle">
                    O nie, to rodzina 500!
                </div>
                <div class="errorContent">
                    Wystąpił wewnętrzny błąd serwera, prosimy załaduj stronę ponownie.<br />Jeśli prbolem będzie się pojawiał skontaktuj się z nami.
                </div>
                
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-3">

        </div>
    </div>
</div>




{% endblock  %}