{% load static  %}
{% load i18n  %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>CryptoTech </title>
    <meta name="description" content="CryptoTech to nowy sklep minigowy na rynku">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbarGrid.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}?v=3.4.2" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/productGrid.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}?v=3.4.2"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/productCarousel.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/orderGrid.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkoutGrid.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/newsletter.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/orderNav.css' %}?v=3.4.2">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pricesCrypto.css'  %}?v=3.4.2"  media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminPanel/controlPanel.css' %}?v=3.4.2">
    
    <link rel="stylesheet" type="text/css" href="{% static 'owl/dist/assets/owl.carousel.min.css' %}?v=3.4.2"  media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="{% static 'owl/dist/assets/owl.theme.default.min.css' %}?v=3.4.2"  media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owlCarouselCustom.css' %}"  media="print" onload="this.media='all'">

 
    

    <script src="{% static 'js/jquery.js'  %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/randomStuff.css' %}?v=3.4.2">
  

    <script type="text/javascript">
            var user="{{ request.user  }}";function getToken(t){let e=null;if(document.cookie&&""!==document.cookie){const o=document.cookie.split(";");for(let n=0;n<o.length;n++){const r=o[n].trim();if(r.substring(0,t.length+1)===t+"="){e=decodeURIComponent(r.substring(t.length+1));break}}}return e}const csrftoken=getToken("csrftoken");function getCookie(t){for(var e=document.cookie.split(";"),o=0;o<e.length;o++){var n=e[o].split("=");if(t==n[0].trim())return decodeURIComponent(n[1])}return null}var cart=JSON.parse(getCookie("cart"));null==cart&&(cart={},document.cookie="cart="+JSON.stringify(cart)+";domain=;path=/");
</script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">

    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap">
</noscript>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/solid.css" integrity="sha384-6qO6EOFIDfvv6uzAzozX/BvMu/qkIIHxWYOVMjpVjX+NtPuNyd3YiOEflKIIV2ka" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/regular.css" integrity="sha384-GMkIgTgosuQEt2PEwBHI7MMRsrQplN2sT/7bzPOIxG+Hn37iTlZXFb37m6uE+iHj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/fontawesome.css" integrity="sha384-Hx1dya9ptAdKu2hLNR5C2Cwgm+wCfwD0VMGE6jk5OUxxa9I58YfxOCwEtRog+3wk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cookiesCSS.css' %}">
</head>
<body>
<div class="containerNavbarReset">
    {% include 'navbar.html'  %}
</div>
<div class="CHUJ"></div>
<div class="containerAnimateRef">
{% block content  %}



{% endblock  %}
</div>


{% include 'footer.html'  %}

<div class="wrapper">
    <img src="{% static 'images/cookie.png' %}" alt="cookie image">
    <div class="content">
      <header>Cookies Consent</header>
      <p>This website use cookies to ensure you get the best experience on our website.</p>
      <div class="buttons">
        <button class="item">I understand</button>
        <a href="{% url 'policy'  %} " class="item">Learn more</a>
      </div>
    </div>
  </div>
<script>
    const cookieBox = document.querySelector(".wrapper"),
    acceptBtn = cookieBox.querySelector("button");

    acceptBtn.onclick = ()=>{
      //setting cookie for 1 month, after one month it'll be expired automatically
      document.cookie = "CookieBy=CodingNepal; max-age="+60*60*24*30;
      if(document.cookie){ //if cookie is set
        cookieBox.classList.add("hide"); //hide cookie box
      }else{ //if cookie not set then alert an error
        alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");
      }
    }
    let checkCookie = document.cookie.indexOf("CookieBy=CodingNepal"); //checking our cookie
    //if cookie is set then hide the cookie box else show it
    checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide");
</script>

<script src="{% static 'js/popper.min.js' %}"    crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'owl/dist/owl.carousel.min.js'  %}"></script>



<script>
$(document).ready(function() {
    $.getScript("{% static 'js/tagsinput.js'  %}");
    $.getScript("{% static 'js/owlCall.js' %}");
    $.getScript("{% static 'js/classie.js' %}");
});
</script>
<script src="{% static 'js/cart.js'  %}"></script>
</body>
</html>
