{% extends 'base.html' %}
{% load static  %}
{% block content %}
{% load i18n  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cartGrid.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}?v=3.4.2">

 

{% if items  %}

<div class="grid-container-cart">
    <div class="leftColCart">
        <div class="lefColCartPosition pcCart">
            {% if items  %}
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="colTitleCart">
                            
                            {% trans "Produkt"  %}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="colTitleCart">
                            
                            {% trans "Cena"  %}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="colTitleCart">
                            {% trans "Ilość"  %}
                            
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="colTitleCart">
                            {% trans "Suma"  %}
                          
                        </div>
                    </div>
                    <div class="col-2">
                      <div class="colTitleCart">
                        {% trans "Usuń"  %}
                      </div>
                    </div>
              
                </div>
            </div>
            {% else  %}

            {% endif  %}
            <div class="container productListPosition pcCart">
                
                {% for x in items  %}
                <div class="row no-gutters rowSpacing">
                    <div class="col-3">
                        <div class="productPicturCart">
                            <a href="{% url 'detail' id=x.product.id %}">
                                <img alt="product img" class="imgCart" src="{{ x.product.pic1.url  }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="colPriceCart">
                            {% if x.product.pricePromo is None  %}
                                
                                {{ x.product.priceNormal}} {% trans 'zł/szt'  %}
                            {% else  %}
                                {{ x.product.pricePromo  }} {% trans 'zł/szt'  %}
                            {% endif  %}
                            
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="colQtyCart">
                            <div class="row no-gutters">
                                <div class="col-4">
                                    <div class="controlQtyCart">
                                        <img src="{% static 'icons/minus-solid.svg'  %}" alt="minus" style="margin-right: 5px;"data-product="{{ x.product.id  }}" data-action="remove"  data-stock="{{ x.product.stock }}" class="update-cart updatePointer ">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="controlQtyCart">
                                         &nbsp;{{x.quantity}}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="controlQtyCart">
                                        <img src="{% static 'icons/plus-solid.svg'  %}" alt="plus" style="margin-left: 7px;"data-product="{{ x.product.id  }}" data-action="add"  data-stock="{{ x.product.stock }}" class="update-cart updatePointer ">
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="stockItemsNumber">
                            {% trans 'Liczba sztuk'  %}:&nbsp; {{x.product.stock}}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="colTotalCart">
                            {{ x.get_total  }} {% trans 'zł' %}
                            
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="deleteBtnCart">
                                <img src="{% static 'icons/times-solid.svg'  %}" alt="remove" style="margin-left: 15px;"data-product="{{ x.product.id  }}" data-action="delete" data-stock="{{ x.product.stock }}"  class="update-cart  deleteIcon">
                        </div>
                    </div>
                    <div class="productInfoCart">
                        <div class="productTitleCart">
                            <a href="{% url 'detail' id=x.product.id %}">{{x.product.title}}</a>
                        </div>
                        <div class="productOrderNumberCart">
                          
                            
                        </div>
                    </div>
                    <div class="bottomLineCart"></div>
                </div>
            
                {% endfor  %}
                
            </div>
        </div>
        <!------------CART MOBILE--------------------->
            {% include  'cartMobile.html'  %}
        <!-------------------------------------------->
    </div>
    <div class="rightColCart">
            {% if user.is_authenticated  %}
            <div class="rightColCartPosition">
                <div class="rightColWrapper">
                    <div class="container">
                        <div class="col-12">
                            <div class="barColRight">
        
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="totalCart">
                        <div class="textTotalCart">
                                {% trans "Suma"  %}:
                        </div>
                        <div class="priceTotalCart">
                                {{orders.get_cart_total}} {% trans "zł"  %}
                                
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="cuponCodeWrapper">
                        <div class="cuponCodeText">
                            {% trans "masz kupon rabatowy?"  %}
                        </div>
                        <div class="cuponCodeInput">
                            <div class="cuponCartBar">
                                <form role="search" method="get" class="product-search" action="">
                                    <input type="search"  class="search-field" placeholder="{% trans 'Kod rabatowy' %}" value="" name="">
                                    
                                    <button type="submit" class="btnSubmit">
                                        <img src="{% static 'icons/money-bill-alt-solid.svg'  %}" alt="cupon" class="cuponIcon">

                                    </button>
                                    <input type="hidden" name="post_type" value="product">
                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="btnWrapperCart">
                    <div class="container">
                        <div class="col-12">
                            <button  onclick="location.href='{% url 'checkout'  %}'" type="button" class="btnSubmitCart">{% trans "DOSTAWA"  %}</button>
                        </div>
                    </div>
                </div>
                <div class="svgImgCart">
                    <img alt="product img"class="svgContentCart" src="{% static 'images/iconmonstr-shopping-bag-8.svg' %}">
                </div>
            </div>
            {% else  %} 
            <div class="rightColCartPosition">
                <div class="cartUseNotAuth">
                    {% trans "Do kontynuowania zakupów potrzebujesz konta"  %}
                </div>
                <div class="loginButtonCartAuth">
                    <div class="loginButtonHelpBox">         
                        <a href="/login">
                            <div class="linkLoginHelpBox linkCreateNotAuth linkNotAuth" id="linkCartNotAuth">
                                Zaloguj sie
                            </div>
                        </a>
                        <hr class="hrLogin">
                        <a href="/register">
                            <div class="linkCreateHelpBox linkCreateNotAuth testLink">
                                Zarejestruj sie
                            </div>
                        </a>
                    </div>
                </div>
                <div class="svgImgCart svgImgCartNotAuth">
                    <img alt="product img"class="svgContentCart" src="{% static 'images/iconmonstr-shopping-bag-8.svg' %}">
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% else  %}
<div class="emptyCartWrapper">
    <div class="emptyCartContent">
        <div class="emptyCartText"> {%trans "Twój koszyk jest pusty"  %} </div> 
        <a href="{% url 'home'  %}" class="cartEmptyBtn">{% trans "Przejdź do strony głównej"  %}</a>
    </div>
    
</div>
<div class="container">
    {% include 'recentlyAdded.html' %}
</div>
{% endif  %}


{% endblock  %}