{% extends 'base.html' %}
{% load static  %}

{% block content %}
{% load i18n  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}?v=3.4.2">
<form class="formCheckout" action="{% url 'processOrder'  %}" method="POST">
    {% csrf_token  %}
    <div class="grid-container-checkout">
        <div class="leftColCheckout">
            <div class="leftCheckoutWrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle">
                                    {% trans "1. Dane odbiorcy"  %}
                                </div>
                                <div class="recipientAdressWrapper">
                                    <div class="form-group">
                                        {{ forms.recipient  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.adress  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.zip_code  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.city  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.country }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.email }}
                                    </div> 
                                    <div class="form-group">
                                        {{ forms.phone }}
                                    </div> 
                                    <div class="invoiceWrapper">
                                        <div class="invoiceToggle">
                                            <label class="checkbox path">
                                                {{ forms.invoice }}
                                                <svg viewBox="0 0 21 21">
                                                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                </svg>
                                            </label>
                                            <div class="invoiceTextToggle">
                                                &nbsp; {% trans 'Chcę otrzymać fakturę'  %} 
                                            </div>
                                        </div>
                                        <div class="invoiceFromWrapper">
                                            <div class="form-group">
                                                {{ forms.invoiceRecipient }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceAdress }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceZip }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceCity }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceNip }}
                                            </div>
                                            <div class="invoiceToggle">
                                                <label class="checkbox path">
                                                    <input type="checkbox" name="sameData" id="sameData" onchange="billingFunction()">
                                                    <svg viewBox="0 0 21 21">
                                                        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                    </svg>
                                                </label>
                                                <div class="invoiceTextToggle">
                                                    &nbsp; {% trans 'Wypełnij formularz automatycznie'  %} 
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>   
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "2. Sposób dostawy"  %}
                                </div>
                                <div class="courierInfo">
                                        
                                </div>
                                {% if inPerson  %}
                                    <div class="inPersonText">
                                        <div class="inPersonTextData">
                                            {% trans "Ze względu na dużą wartość oraz wrażliwość sprzętu znajdującym się w koszuku jedyną formą dostawy jest odbiór osobisty."  %}
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-1">
                                                <label class="checkbox path">
                                                    <input type="checkbox" value="Odbiór osobisty" price="0" name="contractor" class="priceChecbkox typeX" onclick="check();">
                                                    <svg viewBox="0 0 21 21">
                                                        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="col-7">
                                                <div class="courierInfo">
                                                    Odbiór osobisty
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="priceDelivery">
                                                   
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                {% else  %}
                                    {% for x in shipContractors  %}
                                        <div class="row no-gutters">
                                            <div class="col-1">
                                                <label class="checkbox path">
                                                    <input type="checkbox" value="{{ x.contractor }}" price="{{ x.price }}" name="contractor" class="priceChecbkox typeX" onclick="check();">
                                                    <svg viewBox="0 0 21 21">
                                                        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="col-7">
                                                <div class="courierInfo">
                                                    {{ x.contractor }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="priceDelivery">
                                                    {{ x.price }}
                                                </div>
                                            
                                            </div>
                                        </div>
                                    {% endfor  %}
                                {% endif  %}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "3. Twoje podsumowanie"  %}
                                </div>
                                <div class="productWrappersCheckout">
                                    
                                    {% for x in items  %}
                                        <div class="row no-gutters productMarginCheckout">
                                            <div class="col-2">
                                                <img class="imgMobileCheckout" src="{{ x.product.pic1.url  }}" alt="product picture"> 
                                            </div>
                                            <div class="col-8">
                                                <div class="checkoutTitleProduct">
                                                    {{x.product.title}}
                                                </div>
                                                <div class="checkoutPriceProduct">
                                                    {{x.quantity}} x     
                                                {% if x.product.pricePromo is None  %}
                                                    {{ x.product.priceNormal}} {% trans 'zł/szt'  %}
                                                {% else  %}
                                                    {{ x.product.pricePromo  }} {% trans 'zł/szt'  %}
                                                {% endif  %}
                                                </div>
                                            </div>
                                            <div class="col-2 priceCheckout">
                                            {% if x.product.pricePromo is None  %}
                                                {{ x.product.priceNormal}} {% trans 'zł/szt'  %}
                                            {% else  %}
                                                {{ x.product.pricePromo  }} {% trans 'zł/szt'  %}
                                            {% endif  %}
                                            </div>
                                        </div>
                                    {% endfor  %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rightColCheckout">
            <div class="rightCheckoutWrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper recipientSumWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "4. Sposób płatności"  %}
                                </div>
                                {% if inPerson  %}
                                    <div class="inPersonText">
                                        {% trans "Ze względu na dużą wartość sprzętu znajdującym się w koszyku jedyną formą płatności jest płatność przy odbiorze."  %}
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-1">
                                            <label class="checkbox path">
                                                <input type="checkbox" value="in_person" name="paymentType" class="payChecbkox typeY" onclick="check();">
                                                <svg viewBox="0 0 21 21">
                                                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="col-11">
                                            <div class="courierInfo">
                                                Płatność przy odbiorze
                                            </div>
                                        </div>
                                    </div>
                                {% else  %}
                                    {% for x in paymentType  %}
                                    <div class="row no-gutters">
                                        <div class="col-1">
                                            <label class="checkbox path">
                                                <input type="checkbox" value="{{ x.paymentPk }}" name="paymentType" class="payChecbkox typeY" onclick="check();">
                                                <svg viewBox="0 0 21 21">
                                                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="col-11">
                                            <div class="courierInfo">
                                                {{ x.paymentName }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor  %}
                                {% endif  %}  
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper recipientSumWrapper">
                                <div class="recipientTitle ">
                                    {% trans "5. Podsumowanie zakupów"  %}
                                </div>
                                <div class="sumUpContainer">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="valueItemsTitleCheckout">
                                                {% trans "Wartość przedmiotów"  %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="valueItemsPriceCheckout" id="totalPriceCartItems" price_cart="{{orders.get_cart_total}}">
                                                {{orders.get_cart_total}} {% trans "zł"  %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="valueItemsTitleCheckout">
                                                {% trans "Dostawa"  %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="valueItemsPriceCheckout" id="totalPriceDelivery">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lineCheckout">

                                    </div>
                                    <div class="totalPriceWrapper">
                                    
                                            <div class="totalValueTitleCheckout">
                                                {% trans "Do zapłaty"  %}
                                            </div>
                                        
                                            <div class="totalValuePriceCheckout" id="totalPriceAll">
                                                {{orders.get_cart_total}} 
                                            
                                            </div>
                                            <div class="currencyCheckout">
                                                {% trans "zł"  %}
                                            </div>

                                        
                                    </div>
                                    <div class="widthBtnCheckout">
                                        <button disabled id="submit" type="submit" href="" class="btn btn-sm animated-button thar-three btnClick">{% trans "Zakończ i zapłać" %}</button>
                                    </div>
                                </div>
                                <div class="informationAboutCheckout">
                                    {% trans 'Dodanie produktów do koszyka nie oznacza ich rezerwacji'  %}
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
  
    </div>
</form>

<script src="{% static 'js/checkoutCard.js'  %}"></script>
<script>card('{{publicKey}}','{{emailUser}}')</script>
<script src="{% static 'js/checkoutJQ.js'  %}"></script>
<script>
 $('.payChecbkox').click(function() {
 $('.payChecbkox').not(this).prop("checked", false);
});
</script>



<script>
function check(element) {
  var cb1_checked = document.querySelectorAll(".priceChecbkox.typeX:checked");
  var cb2_checked = document.querySelectorAll(".payChecbkox.typeY:checked");
  var sub = document.getElementById("submit");
  
  if (cb1_checked.length >= 1  &&  cb2_checked.length >= 1)
      sub.disabled = false;
  else
      sub.disabled = true;
}
</script>



<script>
    var form_fields = document.getElementsByClassName('shippForm')
    form_fields[0].placeholder='{% trans "Imię oraz nazwisko lub nazwa firmy"  %}';
    form_fields[1].placeholder='{% trans "Ulica i numer"  %}';
    form_fields[2].placeholder='{% trans "Kod pocztowy"  %}';
    form_fields[3].placeholder='{% trans "Miasto"  %}';
    form_fields[4].placeholder='{% trans "Kraj"  %}';
    form_fields[5].placeholder='{% trans "Adres email"  %}';
    form_fields[6].placeholder='{% trans "Numer telefonu"  %}';
    form_fields[7].placeholder='{% trans "Imię oraz nazwisko lub nazwa firmy"  %}';
    form_fields[8].placeholder='{% trans "Ulica i numer"  %}';
    form_fields[9].placeholder='{% trans "Kod pocztowy"  %}';
    form_fields[10].placeholder='{% trans "Miasto"  %}';
    form_fields[11].placeholder='{% trans "NIP"  %}';
</script>
<script>
function billingFunction() {
    if (document.getElementById("sameData").checked) {
            document.getElementById("id_invoiceRecipient").value = document.getElementById("id_recipient").value;
            document.getElementById("id_invoiceAdress").value = document.getElementById("id_adress").value;
            document.getElementById("id_invoiceZip").value = document.getElementById("id_zip_code").value;
            document.getElementById("id_invoiceCity").value = document.getElementById("id_city").value;
    }
    else {
        document.getElementById("id_invoiceRecipient").value = "";
            document.getElementById("id_invoiceAdress").value = "";
            document.getElementById("id_invoiceZip").value = "";
            document.getElementById("id_invoiceCity").value = "";
    }
  }
</script>

{% endblock  %}