{% extends 'base.html' %}
{% load static  %}

{% block content %}
{% load i18n  %}
<form class="formCheckout" action="{% url 'processOrder'  %}" method="POST">
    {% csrf_token  %}
    <div class="grid-container-checkout">
        <div class="leftColCheckout">
            <div class="leftCheckoutWrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle">
                                    {% trans "1. Dane odbiorcy"  %}
                                </div>
                                <div class="recipientAdressWrapper">
                                    <div class="form-group">
                                        {{ forms.recipient  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.adress  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.zip_code  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.city  }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.country }}
                                    </div>
                                    <div class="form-group">
                                        {{ forms.email }}
                                    </div> 
                                    <div class="form-group">
                                        {{ forms.phone }}
                                    </div> 
                                    <div class="invoiceWrapper">
                                        <div class="invoiceToggle">
                                            <label class="checkbox path">
                                                {{ forms.invoice }}
                                                <svg viewBox="0 0 21 21">
                                                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                                </svg>
                                            </label>
                                            <div class="invoiceTextToggle">
                                                &nbsp; {% trans 'Chcę otrzymać fakturę'  %} 
                                            </div>
                                        </div>
                                        <div class="invoiceFromWrapper">
                                            <div class="form-group">
                                                {{ forms.invoiceRecipient }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceAdress }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceZip }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceCity }}
                                            </div>
                                            <div class="form-group">
                                                {{ forms.invoiceNip }}
                                            </div>
                                        </div>
                                    </div>   
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "2. Sposób dostawy"  %}
                                </div>
                                <div class="courierInfo">
                                        
                                </div>
                                {% for x in shipContractors  %}
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <label class="checkbox path">
                                            <input type="checkbox" value="{{ x.contractor }}" price="{{ x.price }}" name="contractor" class="priceChecbkox">
                                            <svg viewBox="0 0 21 21">
                                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="col-7">
                                        <div class="courierInfo">
                                            {{ x.contractor }}
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="priceDelivery">
                                            {{ x.price }}
                                        </div>
                                    
                                    </div>
                                </div>
                                {% endfor  %}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "3. Twoje podsumowanie"  %}
                                </div>
                                <div class="productWrappersCheckout">
                                    {% for x in items  %}
                                    <div class="row no-gutters productMarginCheckout">
                                        <div class="col-2">
                                            <img class="imgMobileCheckout" src="{{ x.product.pic1.url  }}" alt="product picture"> 
                                        </div>
                                        <div class="col-8">
                                            <div class="checkoutTitleProduct">
                                                {{x.product.title}}
                                            </div>
                                            <div class="checkoutPriceProduct">
                                                {{x.quantity}} x     
                                            {% if x.product.pricePromo is None  %}
                                                {{ x.product.priceNormal}} {% trans 'zł/szt'  %}
                                            {% else  %}
                                                {{ x.product.pricePromo  }} {% trans 'zł/szt'  %}
                                            {% endif  %}
                                            </div>
                                        </div>
                                        <div class="col-2 priceCheckout">
                                        {% if x.product.pricePromo is None  %}
                                            {{ x.product.priceNormal}} {% trans 'zł/szt'  %}
                                        {% else  %}
                                            {{ x.product.pricePromo  }} {% trans 'zł/szt'  %}
                                        {% endif  %}
                                        </div>
                                    </div>
                                    {% endfor  %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rightColCheckout">
            <div class="rightCheckoutWrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper recipientSumWrapper">
                                <div class="recipientTitle sumUpCheckout">
                                    {% trans "4. Sposób płatności"  %}
                                </div>
                                {% for x in paymentType  %}
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <label class="checkbox path">
                                            <input type="checkbox" value="{{ x.paymentPk }}" name="paymentType" class="payChecbkox">
                                            <svg viewBox="0 0 21 21">
                                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="col-11">
                                        <div class="courierInfo">
                                            {{ x.paymentName }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor  %}  
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="recipientWrapper recipientSumWrapper">
                                <div class="recipientTitle ">
                                    {% trans "5. Podsumowanie zakupów"  %}
                                </div>
                                <div class="sumUpContainer">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="valueItemsTitleCheckout">
                                                {% trans "Wartość przedmiotów"  %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="valueItemsPriceCheckout" id="totalPriceCartItems" price_cart="{{orders.get_cart_total}}">
                                                {{orders.get_cart_total}} {% trans "zł"  %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="valueItemsTitleCheckout">
                                                {% trans "Dostawa"  %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="valueItemsPriceCheckout" id="totalPriceDelivery">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lineCheckout">

                                    </div>
                                    <div class="totalPriceWrapper">
                                    
                                            <div class="totalValueTitleCheckout">
                                                {% trans "Do zapłaty"  %}
                                            </div>
                                        
                                            <div class="totalValuePriceCheckout" id="totalPriceAll">
                                                {{orders.get_cart_total}} 
                                            
                                            </div>
                                            <div class="currencyCheckout">
                                                {% trans "zł"  %}
                                            </div>

                                        
                                    </div>
                                    <div class="widthBtnCheckout">
                                        <button type="submit" href="" class="btn btn-sm animated-button thar-three">{% trans "Zakończ i zapłać" %}</button>
                                    </div>
                                </div>
                                <div class="informationAboutCheckout">
                                    {% trans 'Dodanie produktów do koszyka nie oznacza ich rezerwacji'  %}
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
  
    </div>
</form>

<script src="{% static 'js/checkoutCard.js'  %}"></script>
<script>card('{{publicKey}}','{{emailUser}}')</script>
<script src="{% static 'js/checkoutJQ.js'  %}"></script>
<script>
 $('.payChecbkox').click(function() {
 $('.payChecbkox').not(this).prop("checked", false);
});
</script>


<script>
    var form_fields = document.getElementsByClassName('shippForm')
    form_fields[0].placeholder='{% trans "Imię oraz nazwisko bądź nazwa firmy"  %}';
    form_fields[1].placeholder='{% trans "Ulica numer budynku oraz domu"  %}';
    form_fields[2].placeholder='{% trans "Kod pocztowy"  %}';
    form_fields[3].placeholder='{% trans "Miasto"  %}';
    form_fields[4].placeholder='{% trans "Kraj"  %}';
    form_fields[5].placeholder='{% trans "Adres email"  %}';
    form_fields[6].placeholder='{% trans "Numer telefonu"  %}';
    form_fields[7].placeholder='{% trans "Imię oraz nazwisko bądź nazwa firmy"  %}';
    form_fields[8].placeholder='{% trans "Ulica numer budynku oraz domu"  %}';
    form_fields[9].placeholder='{% trans "Kod pocztowy"  %}';
    form_fields[10].placeholder='{% trans "Miasto"  %}';
    form_fields[11].placeholder='{% trans "NIP"  %}';

</script>

{% endblock  %}