{% extends 'base.html' %}
{% load static  %}
{% block content %}

<style>
  .paymentInfo3dsc{
    text-align:center;
    font-size: 16px;
    
  }
</style>
<div class="container">
    <div class="row py-3">
      <div class="col-lg-12 col-md-12">
         <div class="container">
            <div class="paymentInfo3dsc">
                <a href="https://ww-tech.pl/">Transakcja zakończona sukcesem <br />Powrót na strone główną</a>
            </div>
         </div>
      </div>
  </div>
</div>

   
{% endblock %}