{% extends 'base.html' %}
{% load i18n  %}
{% load static  %}
{% block content  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/configure.css' %}?v=3.4.2">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="formMailMain">
                        Skontaktuj się z nami
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock  %}