{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %} " media="print" onload="this.media='all'">
{% load i18n  %}
<div class="container footerContainerMargin ">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="footerLogo">
                    ww-tech
                </div>
                <div class="numberWrapperFooter">
                    <div class="iconFooter">
                        <i class="fas fa-headset" aria-hidden="true"></i>
                    </div>
                    <div class="numberContainerFooter">
                        <div class="numberTextFooter">
                            {% trans "Masz pytania? Zadzwon!" %} 
                        </div>
                        <div class="numberContent">
                            (+48) 564 473 345
                        </div>
                    </div>
                </div>
                <div class="footerAddress">
                    <div class="logoAddress">
                        ww-tech
                    </div>
                    <div class="dataAddress">
                        <i class="fas fa-map-marker-alt"></i>&nbsp; Wilcza 31/1A Warszawa
                    </div>
                    <div class="hoursFooter">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="dayFooterHelp">
                                        {% trans "Pon. - pt." %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hourFooterHelp">
                                        9:00 - 17:00
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="dayFooterHelp">
                                        {% trans "Sob. - Niedz." %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hourFooterHelp">
                                        {% trans "zamknięte" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="emailFooter">
                        <i class="far fa-envelope"></i>&nbsp; biuro@wwtechnology.pl
                    </div>
                    <div class="socialIconsRow">
                        <div class="row">
                        
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <div class="socialIconFooter">
                                    <a  href="#"><i class="fab fa-facebook-square socialLinkFooter"></i></a>
                                </div>
                                
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <div class="socialIconFooter">
                                    <a  href="#"><i class="fab fa-instagram socialLinkFooter "></i></a>
                                </div>
                                
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <div class="socialIconFooter">
                                    <a class=""  href="#"><i class="fab fa-youtube socialLinkFooter"></i></a>
                                </div>
                                
                            </div>
                        </div>  
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="additionalLinksFooter">
                    <div class="additionalTextLinksFooter">
                        {% trans "Przydatne Informacje" %} 
                    </div>
                    <div class="additionalLinksContent">
                        <ul class="listFooterBox" >
                            <li class="listStyleFooterBox"><a href="{% url 'rules'  %}">{% trans "Regulamin Sklepu Internetowego" %}  </a></li>
                            <li class="listStyleFooterBox"><a href="{% url 'policy'  %} ">{% trans "Polityka prywatności i cookies" %}  </a></li>
                            <li class="listStyleFooterBox"><a href="{% url 'help'  %} ">{% trans "Płatność i wysyłka" %}  </a></li>
                            <li class="listStyleFooterBox"><a href="{% url 'help'  %}  ">{% trans "Kolokacja" %}  </a></li>
                        </ul>
                    </div>                 
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="additionalAboutFooter">
                    <div class="additionalTextLinksFooter">
                        {% trans "WW-tech to nie tylko kryptowaluty" %} 
                    </div>
                    <div class="additionalInfo">
                        Prowadzimy również działalność na rzecz lepszego jutra 
                        <a href="http://wwenergy.pythonanywhere.com/"> WW energia </a> zajmuję się energią odnawialną dla twojego domu 
                        Dzięki naszym systemom fotowoltaicznym zaoszczędzisz setki złotych rocznie!
                        <!---<a href="http://wwenergy.pythonanywhere.com/"><img alt="logo wwenergy" class="logoFooterEnergy "src="{% static 'images/cdd77635-0cfc-4d66-9a40-1072619656a2_200x200.png'  %}"></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacerFooterEnd">

</div>
<div class="container footerBorder">
    <div class="row">
        <div class="col-12">
            <div class="winterodin">
                <div id="year">

                </div>
                made with love by <a href="https://winterodin.vcraft.pl/">winterodin </a>
            </div>
            
        </div>
    </div>
</div>
<script>
      var d = new Date();
      var n = d.getFullYear();
      document.getElementById("year").innerHTML = "ww-tech @"+n;
    
</script>

