{% load static  %}
{% load i18n  %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="footerLogo">
                    CryptoTech
                </div>
                <div class="numberWrapperFooter">
                    <div class="iconFooter">
                        <i class="fas fa-headset" aria-hidden="true"></i>
                    </div>
                    <div class="numberContainerFooter">
                        <div class="numberTextFooter">
                            {% trans "Masz pytania? Zadzwon!" %} 
                        </div>
                        <div class="numberContent">
                            (+48) 564 473 345
                        </div>
                    </div>
                </div>
                <div class="footerAddress">
                    <div class="logoAddress">
                        CryptoTech
                    </div>
                    <div class="dataAddress">
                        <i class="fas fa-map-marker-alt"></i>&nbsp; Wilcza 31/1A Warszawa
                    </div>
                    <div class="hoursFooter">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="dayFooterHelp">
                                        Pon. - pt.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hourFooterHelp">
                                        9:00 - 16:00
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="dayFooterHelp">
                                        {% trans "Sob. - Niedz." %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hourFooterHelp">
                                        {% trans "zamknięte" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="emailFooter">
                        <i class="far fa-envelope"></i>&nbsp; biuro@wwtechnology.pl
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="additionalLinksFooter">
                    <div class="additionalTextLinksFooter">
                        {% trans "Przydatne Informacje" %} 
                    </div>
                    <div class="additionalLinksContent">
                        <ul class="listFooterBox" >
                            <li class="listStyleFooterBox"><a href=" ">{% trans "Regulamin Sklepu Internetowego" %}  </a></li>
                            <li class="listStyleFooterBox"><a href=" ">{% trans "Polityka prywatności i cookies" %}  </a></li>
                            <li class="listStyleFooterBox"><a href=" ">{% trans "Płatność i wysyłka" %}  </a></li>
                            <li class="listStyleFooterBox"><a href=" ">{% trans "Dochodowość" %}  </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footerBar">
                <div class="additionalLinksFooter">
                    <div class="additionalTextLinksFooter">
                        {% trans "CryptoTech to nie tylko kryptowaluty" %} 
                    </div>
                    <div class="additionalInfo">
                        Prowadzimy również działalność na rzecz lepszego jutra 
                        <a href="http://wwenergy.pythonanywhere.com/"> WW energia </a> zajmuję się energią odnawialną dla twojego domu 
                        Dzięki naszym systemom fotowoltaicznym zaoszczędzisz setki złotych rocznie!
                        <a href="http://wwenergy.pythonanywhere.com/"><img  class="logoFooterEnergy "src="{% static 'images/cdd77635-0cfc-4d66-9a40-1072619656a2_200x200.png'  %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container footerBorder">
    <div class="row">
        <div class="col-12">
            <div class="winterodin">
                made with love by <a href="https://winterodin.vcraft.pl/">winterodin</a>
            </div>
        </div>
    </div>
</div>