{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}

<div class="grid-container-order">
    <div class="leftOrderCol">
        <div class="listOrderWrapper">
            <div class="listOrderNavPC linkListHelpPage">
                <div class="userWelcomeOrderPC">
                    {% trans "Witaj" %}
                    <div class="userNamePC">
                        {{ request.user.customer  }}
                    </div>
                </div>
                {% for x in category  %}
                <a href="" class="linkOrderPC">
                    <span class="iconOrderPC"><i class="{{x.categoryIcon}}"></i> </span>
                    <span class="textOrderPC linkListHelpPageTEX">{{ x.category  }}</span>
                </a>
                {% endfor  %}
                <div class="lineOrderPC">
                    
                </div>
            </div>
            <div class="listOrderNavMobile">
               <!----- <div class="userWelcomeOrderMobile">
                    {% trans "Witaj" %},
                    <div class="userNameMobile">
                        {{ request.user.customer  }}
                    </div>
                </div>
                <div class="categoryRootMobileOrder">
                    <div  class="categoryMobile">
                        <div   class="full hide-scroll">
                        <ul class="hs hsOrder linkListHelpPage" >

                            {% for x in category  %}
                            <a href="" class="linkOrderPC">
                                <span class="iconOrderPC"><i class="{{x.categoryIcon}}"></i> </span>
                                <span class="textOrderPC">{{ x.category  }}</span>
                            </a>
                            <li class="itemCategoryMobile">
                                <a href="" class="linkCategoryMobile">
                                    <i class="{{x.categoryIcon}}"></i> 
                                    <div class="textCategoryMobile">
                                        {{ x.category  }}
                                    </div>
                                </a>
                                </li>
                            {% endfor  %}


                       
                         
                         
                        </ul>
                        </div>
                    </div>
                </div>-->
                <div class=" linkListHelpPage">
                    <div class="row">
                        {% for x in category  %}
                        <div class="col-6">
                            <a href="" class="linkOrderPC">
                                <span class="iconOrderPC"><i class="{{x.categoryIcon}}"></i> </span>
                                <span class="textOrderPC linkListHelpPageText">{{ x.category  }}</span>
                            </a>
                        </div>
                        {% endfor  %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightOrderCol">
        <div class="container-fluid">
            <div class="helpContainerSize" style="min-height:40vh;">
                <div class="FaqInfoData" >
                    <h3>Sekcja FAQ</h3>
                    <br />
                    <p>
                        Witaj w sekcji FAQ sklepu WW-tech.
                    </p>
                    <p>
                        Po prawej stronie znajduje się menu z najczęsciej poruszanymi tematami dotyczącymi działania sklepu jak i samego świata kryptowalut.<br /><br />
                        Jeśli temat który Cię zastanawia nie został wymieniony zachęcamy do kontaktu z naszym konsultantem poprzez adres mailowy: biuro@wwtechnology.pl <br />
                         
                    </p>
                    <p style="text-align:right"><i>Zespół WW-tech</i></p>

                </div>
                {% for x in categoryInfo  %}
                    <div class="categoryInfoWrapper" id="{{ x.category  }}">
                            {% if x.helpTitle is None  %}
                            aaaaaaa
                            {% else  %}
                            <div class="categoryTitleHelp">
                            {{ x.helpTitle }}
                            </div>
                            {% endif  %}
                        
                        <div class="descriptionHelpBox">
                            {{ x.description|safe  }}
                        </div>
                        
                    </div>
                {% endfor  %}
            </div>
        </div>
    </div>
</div>
<script>
    $( ".categoryRootMobile" ).hide();
    
    $(".linkListHelpPage a").on("click",function(e) {
    e.preventDefault()
    $(".categoryInfoWrapper").hide();
    $(".FaqInfoData").hide();
    $("#"+$(this).find(".textOrderPC").text()).fadeIn(500);

    
})
</script>



{% endblock  %}