{% load static  %}
{% load i18n  %}
{% get_current_language as LANGUAGE_CODE  %}

    <div class="grid-container-PC">
        <div class="topBar">
            <div class="topBarWrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="topBarTextRight">
                                {% if user.is_authenticated  %}
                                    {% trans "Witaj"  %} {{ request.user.customer  }}
                                {% else  %} 
                                ww-tech - wszystko dla krypto!
                                {%endif%}
                               
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="topBarTextLeft">
                                {% if user.is_authenticated  %}
                                {% if request.user.is_superuser %}
                                <a class="" href="{% url 'control' %}"> {% trans "Panel Administracyjny" %} &nbsp; </a>
                                {% endif  %}   
                                <a class="logoutNav" href="{% url 'logout' %}"> {% trans "Wyloguj się " %}</a>
                                   
                                {% else  %} 
                                    biuro@wwtechnology.pl
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navBar">
            <div class="mainBar">
                <div class="searchBar">
                    <form role="search" method="POST" class="product-search formNavbar" action="" autocomplete="off">
                        {% csrf_token  %}
                        <input type="search"  value="{{query}}" class="search-field navbarInput" placeholder="{% trans 'Szukaj produktów…'  %}"  name="search_bar">
                        <button type="submit" class="btnSubmit">
                            <img src="{% static 'icons/search-solid.svg'  %}" class="searchIcon" alt="search">
                
                            </button>
                        <input type="hidden" name="post_type" value="product">
      
                    </form>
                </div>
                <div class="cart">
                    <div class="cartWrapper">
                        <div class="iconWrapper1">
                            <div class="iconContent1">
                                <a class="tileLink" href="{% url 'help'  %}">
                                    <div class="iconPic">
                                        <img src="{% static 'icons/headset-solid.svg'  %}" alt="help"class="cartIcons">
                                    </div>
                                    <div class="iconText">
                                        {% trans "Pomoc i kontakt" %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox1">
                            <div class="tileListHelpTitle">{% trans "Popularne" %}</div>
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Dostawa" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Gwarancja" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Częste pytania" %}</a></li>
                            </ul>                            
                            <div class="tileListHelpTitle">{% trans "Skontaktuj się z nami" %}</div>
                            <ul class="listHelpBox"> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Kontakt" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">crypto@shop.pl</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Częste pytania" %}</a></li>
                                <li class="listStyleHelpBox">
                                    <a class="linkHelpBox" href="">+48 564 473 362</a>
                                </li>
                            </ul> 
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            Pon. - pt.
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            9:00 - 16:00
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            
                                            {% trans "Sob. - Niedz." %}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            {% trans "zamknięte" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                       <span class="lineHelpBox"></span>
                        <div class="iconWrapper2">
                            <div class="iconContent2">
                                {% if user.is_authenticated  %}
                                <a class="tileLink" href="{% url 'order'  %} ">
                                    <div class="iconPic">
                                        <img src="{% static 'icons/user-solid.svg'  %}" class="cartIcons" alt="user">
                                    </div>
                                    <div class="iconText">
                                        {% trans "Twoje Konto" %}
                                    </div>
                                </a>
                                {% else  %}
                                <a class="tileLink" href="{% url 'login'  %}">
                                    <div class="iconPic">
                                        <img src="{% static 'icons/user-solid.svg'  %}" class="cartIcons" alt="user">
                                    </div>
                                    <div class="iconText">
                                        {% trans "Twoje Konto" %}
                                    </div>
                                </a>
                                
                                {% endif %}
                            </div>
                        </div>
                        <div class="helpBox2">
                            <div class="tileListHelpTitle"></div>
                                <div class="loginButtonHelpBox">
                                    {% if user.is_authenticated  %}
                                       <div class="helloMsgLogin"> {% trans "Witaj"  %} <b>{{ request.user.customer  }}</b></div>
                                    {% else  %} 
                                    <a href="{% url 'login'  %}" style="text-decoration: none" >
                                        <div class="linkLoginHelpBox">
                                            {% trans "Zaloguj sie" %}
                                        </div>
                                    </a>
                                    <hr class="hrLogin">
                                    <p class="textHrLogin">{% trans "Nie masz konta?" %}</p>
                                    <a href="{% url 'register'  %}" style="text-decoration: none" >
                                        <div class="linkCreateHelpBox">
                                            {% trans "Zarejestruj sie" %}
                                        </div>
                                    </a>
                                    {%endif%}
                                </div>    
                            {% if user.is_authenticated  %}
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="{% url 'order'  %}">{% trans "Zamówienia" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="{% url 'user'  %}">{% trans "Ustawienia Konta" %}</a></li>
                            </ul> 
                            {% endif  %}
                        </div>
                        <div class="iconWrapper3">
                            <div class="iconContent3">
                                <a class="tileLink" href="{% url 'cart' %}">
                                    <div class="iconPic">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="numberItemsInCart">
                                        {% if items %}
                                            {{ items|length  }}
                                        {% else %}
                                           0
                                        {% endif %}                                         
                                        </span>
                                    </div>
                                    <div class="iconText">
                                        {% trans "Koszyk" %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox3">
                            {% if items  %}
                            <div class="tileListHelpTitle">{% trans "Twój koszyk" %}</div>
                                {% include 'cartPrev.html'  %}
                            {% else  %}
                            <div class="emptyCartList">
                                Twój koszyk jest pusty
                            </div>
                            {% endif  %}
                        </div>
                    </div>
                </div>
                <div class="logoBox">
                    <div class="logoWrapper">
                       <a class="logoTextPc "href="{% url 'home' %}"> ww-tech</a>
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <div class="container" id="categoryBar">
                    <div class="row no-gutters">
                        <div class="col-1">

                        </div>
                        <div class="col-2 categoryPCHover"  >
                            <div class="categoryPC">
                                
                                <a href='{% url "category" category=navbarList.0.category_pl|slugify %}' class="categoryPCLink">
                                    {{ navbarList.0.category }}
                                </a>
                               
                            </div>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a href='{% url "category" category=navbarList.1.category_pl|slugify %}' class="categoryPCLink">
                                    {{ navbarList.1.category }}
                                </a>
                            </div>
                        </div>
                        <div class="col-2">
                            <form method="POST" action="{% url 'set_language'  %}">
                                {% csrf_token  %}
                                <input type="hidden" name="text" value="{{redirect_to}}">
                                <select class="langSelect "  name="language" id="" onchange='if(this.value != 0) { this.form.submit(); }'>
                                    {% get_available_languages as LANGUAGES  %}
                                    {% get_language_info_list for LANGUAGES as LG  %}
                                    {% for x in LG  %}
                                        <option class="selectLangPc" value="{{x.code}}" 
                                            {% if x.code == LANGUAGE_CODE  %}selected{% endif  %}>
                                        {{x.name_local}}
                                        </option>
                                    {% endfor  %}
                                </select>
                            </form>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a href='{% url "category" category=navbarList.2.category_pl|slugify %}' class="categoryPCLink">
                                    {{ navbarList.2.category }}
                                </a>
                            </div>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a href='{% url "category" category=navbarList.3.category_pl|slugify %}' class="categoryPCLink">
                                    {{ navbarList.3.category }}
                                </a>
                            </div>
                        </div>
                        <div class="col-1">
                            
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
      </div>



      <div class="grid-container-mobile">
        <div class="gridMobile">
          <div class="iconBar"></div>
          <div class="searchBar">
            <div class="searchBarMobile">
                <form role="search" method="POST" class="product-search" action="">
                    {% csrf_token  %}
                    <input type="search"  class="search-field" value="{{query}}" placeholder="{% trans 'Szukaj produktów…'  %}" name="search_bar">
                    <button type="submit" class="btnSubmit">
                        <img src="{% static 'icons/search-solid.svg'  %}" class="searchIcon">
                    </button>
                    <input type="hidden" name="post_type" value="product">
                </form>

                


            </div>
          </div>
          <div class="logoWrapper">
            <a href="{% url 'home' %}"> ww-tech<span class="colorDotNav">.</span></a>
          </div>
         <div class="iconWrapper">
            <div class="icon1">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <img src="{% static 'icons/headset-solid.svg'  %}" alt="help"class="cartIcons">
                    </div>
                    <div class="iconText">
                        {% trans "Kontakt" %} 
                    </div>
                </a>
            </div>
            <div class="icon2">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <img src="{% static 'icons/user-solid.svg'  %}" class="cartIcons" alt="user">
                    </div>
                    <div class="iconText">
                        {% trans "Twoje Konto" %} 
                    </div>
                </a>
            </div>
            <div class="icon3">
                <a class="tileLink" href="{% url 'cart' %}">
                    <div class="iconPic">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="numberItemsInCart">
                        {% if items %}
                            {{ items|length  }}
                        {% else %}
                           0
                        {% endif %}                                         
                        </span>
                    </div>
                    <div class="iconText">
                        {% trans "Koszyk" %} 
                    </div>
                </a>
            </div>
          </div>
        </div>
      </div>
<div class="languageMobile">
    <div class="languageWrapperMobile">
        <form method="POST" action="{% url 'set_language'  %}">
            {% csrf_token  %}
            <input type="hidden" name="text" value="{{redirect_to}}">
            <select class="langSelect " name="language" id="" onchange='if(this.value != 0) { this.form.submit(); }'>
                {% get_available_languages as LANGUAGES  %}
                {% get_language_info_list for LANGUAGES as LG  %}
                {% for x in LG  %}
                    <option value="{{ x.code  }}" 
                        {% if x.code == LANGUAGE_CODE  %} selected {% endif  %}>
                    {{ x.name_local  }}
                    </option>
                {% endfor  %}
            </select>
        </form>
    </div>
</div>
<div class="categoryRootMobile">
    <div  class="categoryMobile">
        <div class="full hide-scroll">
          <ul class="hs" >

            {% for x in categoryList  %}
            <li class="itemCategoryMobile">
            <a href="{% url 'category' category=x.category_pl|slugify  %}" class="linkCategoryMobile">
              
                <img src="{{ x.picture.url  }}"  class="iconCategoryMobile">
                <div class="textCategoryMobile">
                    {{ x.category }}
                </div>
            </a>
            </li>
            {% endfor  %}




      
          
          
          </ul>
        </div>
      </div>
</div>
<script>
$(window).resize(function(){
    if(window.innerWidth <1200)
    {
        $("#categoryBar").addClass('container-fluid');
        $("#categoryBar").removeClass('container');
    }else
    {
        $("#categoryBar").addClass('container');
        $("#categoryBar").removeClass('container-fluid');
    }
}); 
</script>
<script src="{% static 'js/navbarJQ.js'  %}"></script>

<script src="{% static 'js/navbarJS.js'  %}"></script>



