
    <div class="grid-container-PC">
        <div class="topBar">
            <div class="topBarWrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="topBarTextRight">
                                Digital Mining Experts 
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="topBarTextLeft">
                                ASIC, FPGA, GPU.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navBar">
            <div class="mainBar">
                <div class="searchBar">
                    <form role="search" method="get" class="product-search" action="">
                        <input type="search" id="woocommerce-product-search-field-N8269" class="search-field" placeholder="Search Products…" value="" name="">
                        <button type="submit" class="btnSubmit"><i class="fas fa-search"></i></button>
                        <input type="hidden" name="post_type" value="product">
      
                    </form>
                </div>
                <div class="cart">
                    <div class="cartWrapper">
                        <div class="iconWrapper1">
                            <div class="iconContent1">
                                <a class="tileLink" href="">
                                    <div class="iconPic">
                                        <i class="fas fa-headset"></i>
                                    </div>
                                    <div class="iconText">
                                        Pomoc i kontakt
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox1">
                            <div class="tileListHelpTitle">Pupularne</div>
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Dostawa</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Gwarancja</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Zwroty</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Częste pytania</a></li>
                            </ul>                            
                            <div class="tileListHelpTitle">Skontaktuj się z nami</div>
                            <ul class="listHelpBox"> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Kontakt</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">crypto@shop.pl</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Częste pytania</a></li>
                                <li class="listStyleHelpBox">
                                    <a class="linkHelpBox" href="">+48 564 473 362</a>
                                </li>
                            </ul> 
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            Pon. - pt.
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            9:00 - 16:00
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            Sob. - Niedz.
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            zamknięte
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <span class="lineHelpBox"></span>
                        <div class="iconWrapper2">
                            <div class="iconContent2">
                                <a class="tileLink" href="">
                                    <div class="iconPic">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="iconText">
                                        Twoje Konto
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox2">
                            <div class="tileListHelpTitle">Twoje konto</div>
                                <div class="loginButtonHelpBox">
                                    <a href="" >
                                        <div class="linkLoginHelpBox">
                                            Zaloguj sie
                                        </div>
                                    </a>
                                    <hr class="hrLogin">
                                    <p class="textHrLogin">Nie masz konta?</p>
                                    <a href="" >
                                        <div class="linkCreateHelpBox">
                                            Zaloguj sie
                                        </div>
                                    </a>
                                </div>    
                            <div class="tileListHelpTitle">Skontaktuj się z nami</div>
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Twoje konto</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Zamówienia</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">Ustawienia Konta</a></li>
                            </ul> 
                        </div>
                        <div class="iconWrapper3">
                            <div class="iconContent3">
                                <a class="tileLink" href="">
                                    <div class="iconPic">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="iconText">
                                        Koszyk
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox3">
                            <div class="tileListHelpTitle">Twój koszyk</div>
                        </div>
                    </div>
                </div>
                <div class="logoBox">
                    <div class="logoWrapper">
                        CryptoTech
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            
                        </div>
                        <div class="col-2">
                            <div class="categoryPC">
                                <a class="categoryPCLink">
                                    Asic
                                </a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="categoryPC">
                                <a class="categoryPCLink">
                                    Serwery
                                </a>
                            </div>
                        </div>
                
                        <div class="col-2">
                            <div class="categoryPC">
                                <a class="categoryPCLink">
                                    Koparki GPU
                                </a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="categoryPC">
                                <a class="categoryPCLink">
                                    Akcesoria
                                </a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="categoryPC">
                                <a class="categoryPCLink">
                                    Usługi
                                </a>
                            </div>
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>



      <div class="grid-container-mobile">
        <div class="gridMobile">
          <div class="iconBar"></div>
          <div class="searchBar">
            <div class="searchBarMobile">
                <form role="search" method="get" class="product-search" action="">
                    <input type="search" id="woocommerce-product-search-field-N8269" class="search-field" placeholder="Search Products…" value="" name="">
                    <button type="submit" class="btnSubmit"><i class="fas fa-search"></i></button>
                    <input type="hidden" name="post_type" value="product">
                </form>
            </div>
          </div>
          <div class="logoWrapper">
            CryptoTech<span class="colorDotNav">.</span>
          </div>
         <div class="iconWrapper">
            <div class="icon1">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="iconText">
                        kontakt
                    </div>
                </a>
            </div>
            <div class="icon2">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="iconText">
                        Twoje Konto
                    </div>
                </a>
            </div>
            <div class="icon3">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="iconText">
                        Koszyk
                    </div>
                </a>
            </div>
          </div>
        </div>
      </div>

<div class="categoryRootMobile">
    <div  class="categoryMobile">
        <div   class="full hide-scroll">
          <ul class="hs" >
            <li class="itemCategoryMobile">
            <a href="" class="linkCategoryMobile">
                <i class="fab fa-bitcoin iconCategoryMobile"></i>
                <div class="textCategoryMobile">
                    Koparki GPU
                </div>
            </a>


            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fas fa-server iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        Serwery
                    </div>
                </a>
            </li>
            <li   class="itemCategoryMobile">
                <a  href="" class="linkCategoryMobile">
                    <i class="fas fa-digital-tachograph iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        ASIC
                    </div>
                </a>
            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fab fa-buffer iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        Akcesoria
                    </div>
                </a>
            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fas fa-cogs iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        Usługi
                    </div>
                </a>
            </li>
          </ul>
        </div>
      </div>
</div>

<script>
$('.iconContent1 ').mouseover(function(){
$('.helpBox1').show();
});

$('.helpBox1').mouseleave(function(){
$('.helpBox1').hide();
});


$('.iconContent2 ').mouseover(function(){
$('.helpBox2').show();
});

$('.helpBox2').mouseleave(function(){
$('.helpBox2').hide();
});
$('.iconContent3 ').mouseover(function(){
$('.helpBox3').show();
});

$('.helpBox3').mouseleave(function(){
$('.helpBox3').hide();
});
</script>

