{% load static  %}
{% load i18n  %}
{% get_current_language as LANGUAGE_CODE  %}

    <div class="grid-container-PC">
        <div class="topBar">
            <div class="topBarWrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="topBarTextRight">
                                {% if user.is_authenticated  %}
                                    {% trans "Witaj"  %} Marcel
                                {% else  %} 
                                Digital Mining Experts 
                                {%endif%}
                               
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="topBarTextLeft">
                                {% if user.is_authenticated  %}
                                {% if request.user.is_superuser %}
                                <a class="" href="#"> {% trans "panel administracyjny" %}</a>
                                {% endif  %}   
                                <a class="logoutNav" href="{% url 'logout' %}"> {% trans "Wyloguj się " %}</a>
                                   
                                {% else  %} 
                                    ASIC, FPGA, GPU.
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navBar">
            <div class="mainBar">
                <div class="searchBar">
                    <form role="search" method="POST" class="product-search formNavbar" action="" autocomplete="off">
                        {% csrf_token  %}
                        <input type="search"  value="{{query}}" class="search-field navbarInput" placeholder="{% trans 'Szukaj produktów…'  %}"  name="search_bar">
                        <button type="submit" class="btnSubmit"><i class="fas fa-search"></i></button>
                        <input type="hidden" name="post_type" value="product">
      
                    </form>
                </div>
                <div class="cart">
                    <div class="cartWrapper">
                        <div class="iconWrapper1">
                            <div class="iconContent1">
                                <a class="tileLink" href="{% url 'help'  %}">
                                    <div class="iconPic">
                                        <i class="fas fa-headset"></i>
                                    </div>
                                    <div class="iconText">
                                        {% trans "Pomoc i kontakt" %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--<div class="helpBox1">
                            <div class="tileListHelpTitle">{% trans "Popularne" %}</div>
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Dostawa" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Gwarancja" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Częste pytania" %}</a></li>
                            </ul>                            
                            <div class="tileListHelpTitle">{% trans "Skontaktuj się z nami" %}</div>
                            <ul class="listHelpBox"> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Kontakt" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">crypto@shop.pl</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="">{% trans "Częste pytania" %}</a></li>
                                <li class="listStyleHelpBox">
                                    <a class="linkHelpBox" href="">+48 564 473 362</a>
                                </li>
                            </ul> 
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            Pon. - pt.
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            9:00 - 16:00
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="dayBoxHelp">
                                            
                                            {% trans "Sob. - Niedz." %}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="hourBoxHelp">
                                            {% trans "zamknięte" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        --->
                       <span class="lineHelpBox"></span>
                        <div class="iconWrapper2">
                            <div class="iconContent2">
                                <a class="tileLink" href="{% url 'order'  %} ">
                                    <div class="iconPic">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="iconText">
                                        {% trans "Twoje Konto" %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox2">
                            <div class="tileListHelpTitle">{% trans "Twoje konto" %}</div>
                                <div class="loginButtonHelpBox">
                                    {% if user.is_authenticated  %}
                                       <div class="helloMsgLogin"> {% trans "Witaj"  %} Marcel</div>
                                    {% else  %} 
                                    <a href="{% url 'login'  %}" >
                                        <div class="linkLoginHelpBox">
                                            {% trans "Zaloguj sie" %}
                                        </div>
                                    </a>
                                    <hr class="hrLogin">
                                    <p class="textHrLogin">{% trans "Nie masz konta?" %}</p>
                                    <a href="{% url 'register'  %}" >
                                        <div class="linkCreateHelpBox">
                                            {% trans "Zarejestruj sie" %}
                                        </div>
                                    </a>
                                    {%endif%}
                                </div>    
                            
                            <ul class="listHelpBox "> 
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="{% url 'order'  %}">{% trans "Twoje konto" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="{% url 'order'  %}">{% trans "Zamówienia" %}</a></li>
                                <li class="listStyleHelpBox"><a class="linkHelpBox" href="{% url 'user'  %}">{% trans "Ustawienia Konta" %}</a></li>
                            </ul> 
                        </div>
                        <div class="iconWrapper3">
                            <div class="iconContent3">
                                <a class="tileLink" href="{% url 'cart' %}">
                                    <div class="iconPic">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="numberItemsInCart">
                                        {% if items %}
                                            {{ items|length  }}
                                        {% else %}
                                           0
                                        {% endif %}                                         
                                        </span>
                                    </div>
                                    <div class="iconText">
                                        {% trans "Koszyk" %}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="helpBox3">
                            <div class="tileListHelpTitle">{% trans "Twój koszyk" %}</div>
                            {% include 'cartPrev.html'  %}
                        </div>
                    </div>
                </div>
                <div class="logoBox">
                    <div class="logoWrapper">
                       <a class="logoTextPc "href="{% url 'home' %}"> CryptoTech</a>
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-1">

                        </div>
                        <div class="col-2 categoryPCHover"  >
                            <div class="categoryPC">
                                <a href="{% url 'category' category='Koparki GPU'  %}" class="categoryPCLink">
                                    
                                    {% trans "Koparki GPU" %} 
                                </a>
                            </div>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a href="{% url 'category' category='Kontenery miningowe'  %}" class="categoryPCLink">
                                   {% trans "Kontenery" %} 
                                </a>
                            </div>
                        </div>
                        <div class="col-2">
                            <form method="POST" action="{% url 'set_language'  %}">
                                {% csrf_token  %}
                                <input type="hidden" name="text" value="{{redirect_to}}">
                                <select class="langSelect" name="language" id="" onchange='if(this.value != 0) { this.form.submit(); }'>
                                    {% get_available_languages as LANGUAGES  %}
                                    {% get_language_info_list for LANGUAGES as LG  %}
                                    {% for x in LG  %}
                                        <option class="selectLangPc" value="{{ x.code  }}" 
                                            {% if x.code == LANGUAGE_CODE  %} selected {% endif  %}>
                                        {{ x.name_local  }}
                                        </option>
                                    {% endfor  %}
                                </select>
                            </form>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a  href="{% url 'category' category='Akcesoria'  %}" class="categoryPCLink">
                                   {% trans "Akcesoria" %} 
                                </a>
                            </div>
                        </div>
                        <div class="col-2 categoryPCHover">
                            <div class="categoryPC">
                                <a href="{% url 'category' category='Usługi'  %}" class="categoryPCLink">
                                    {% trans "Usługi" %} 
                                </a>
                            </div>
                        </div>
                        <div class="col-1">
                            
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
      </div>



      <div class="grid-container-mobile">
        <div class="gridMobile">
          <div class="iconBar"></div>
          <div class="searchBar">
            <div class="searchBarMobile">
                <form role="search" method="POST" class="product-search" action="">
                    {% csrf_token  %}
                    <input type="search"  class="search-field" value="{{query}}" placeholder="{% trans 'Szukaj produktów…'  %}" name="search_bar">
                    <button type="submit" class="btnSubmit"><i class="fas fa-search"></i></button>
                    <input type="hidden" name="post_type" value="product">
                </form>

                


            </div>
          </div>
          <div class="logoWrapper">
            <a href="{% url 'home' %}"> CryptoTech<span class="colorDotNav">.</span></a>
          </div>
         <div class="iconWrapper">
            <div class="icon1">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="iconText">
                        {% trans "Kontakt" %} 
                    </div>
                </a>
            </div>
            <div class="icon2">
                <a class="tileLink" href="">
                    <div class="iconPic">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="iconText">
                        {% trans "Twoje Konto" %} 
                    </div>
                </a>
            </div>
            <div class="icon3">
                <a class="tileLink" href="{% url 'cart' %}">
                    <div class="iconPic">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="iconText">
                        {% trans "Koszyk" %} 
                    </div>
                </a>
            </div>
          </div>
        </div>
      </div>
<div class="languageMobile">
    <div class="languageWrapperMobile">
        <form method="POST" action="{% url 'set_language'  %}">
            {% csrf_token  %}
            <input type="hidden" name="text" value="{{redirect_to}}">
            <select class="langSelect" name="language" id="" onchange='if(this.value != 0) { this.form.submit(); }'>
                {% get_available_languages as LANGUAGES  %}
                {% get_language_info_list for LANGUAGES as LG  %}
                {% for x in LG  %}
                    <option value="{{ x.code  }}" 
                        {% if x.code == LANGUAGE_CODE  %} selected {% endif  %}>
                    {{ x.name_local  }}({{ x.code  }})
                    </option>
                {% endfor  %}
            </select>
        </form>
    </div>
</div>
<div class="categoryRootMobile">
    <div  class="categoryMobile">
        <div   class="full hide-scroll">
          <ul class="hs" >
            <li class="itemCategoryMobile">
            <a href="" class="linkCategoryMobile">
                <i class="fab fa-bitcoin iconCategoryMobile"></i>
                <div class="textCategoryMobile">
                    {% trans "Koparki GPU" %} 
                </div>
            </a>


            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fas fa-server iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        {% trans "Serwery" %} 
                    </div>
                </a>
            </li>
            <li   class="itemCategoryMobile">
                <a  href="" class="linkCategoryMobile">
                    <i class="fas fa-digital-tachograph iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        ASIC
                    </div>
                </a>
            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fab fa-buffer iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        {% trans "Koparki GPU" %} 
                    </div>
                </a>
            </li>
            <li class="itemCategoryMobile">
                <a href="" class="linkCategoryMobile">
                    <i class="fas fa-cogs iconCategoryMobile"></i>
                    <div class="textCategoryMobile">
                        {% trans "Usługi" %} 
                    </div>
                </a>
            </li>
          </ul>
        </div>
      </div>
</div>

<script>
$("[class^='iconWrapper']").mouseover(function(e) {
  $("[class^='helpBox']").hide();
  $(this).next("[class^='helpBox']").show();
});

$("[class^='helpBox']").mouseleave(function() {
  $("[class^='helpBox']").hide();
});
</script>
<script>
    (function() {
    var inputs = document.getElementsByClassName('navbarInput');
    if( !(inputs && inputs.length) ) return;
    function toggleRed(elem) {
        elem.classList.toggle('red');
    }
    for(var i=0; i < inputs.length; i++) {
        var input = inputs[i];
        input.addEventListener('focus', function() {
             toggleRed(this.parentElement);
        });
        input.addEventListener('blur', function() {
             toggleRed(this.parentElement);
        });
    }
})();
</script>

