{% load i18n  %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/orderUserList.css' %}">
    <div class="container-fluid ">
        <div class="mainOrderText">
            {% trans "Zamówienia"  %}
        </div>
        {% for x in products  %}
        <a class="linkDetailOrderUser" href="{% url 'detailOrder' pk=x.transaction_id  %}">
            <div class="row no-gutters orderListBorder">
                <div class="col-md-4 col-sm-12 ">
                    <div class="leftColOrderUserList">    
                        <div class="leftContentColOrderList">
                            {%  trans "Zamówienie nr" %}
                            <b>{{ x.transaction_id  }}</b><br />
                            {{ x.order.date_oredred  }}<br />
                            {% trans "cena za sztuke: "  %}
                            {% if product.pricePromo is None  %}              
                            {{ x.product.pricePromo  }} {% trans "zł"  %}
                            {% else  %}
                            {{  x.product.priceNormal }} {% trans "zł"  %}
                            {%  endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 ">
                    <div class="rightColOrderUserList">      
                        <div class="rightContentColOrderList">
                            <div class="rightContainerColOrderList">
                                <img class="pictureOrderWrapper" src="{{ x.product.pic1.url }}" alt="product image"/>
                                <div class="productOrderWrapper">
                                    {{  x.product.title}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% empty  %}
        <div class="emptyCartWrapper emptyQuery">
            <div class="emptyCartContent">
                <div class="emptyCartText emptyQueryTitle"> {% trans 'Nie posiadasz żadnych zamówień'  %} <br /></div> 
                <a href="{% url 'home'  %}" class="cartEmptyBtn">{% trans 'Przejdź do strony głównej'  %} </a>
            </div>
        </div>
        {%  endfor %}
    </div>