{% load i18n  %}
{% load static  %}
    <div class="container-fluid ">
        <div class="mainOrderText">
            {% trans "Zamówienia"  %}
        </div>
        <div class="filterOrderBox">
            <div class="cbp-vm-options orderOptionsPadding">
                <div class="sortingBox">
                    <div class="sortingBoxText">
                        Sortuj:
                    </div>
                    <div class="sortingSelect">
                        <select class="priceSelect" name="price" id="" onchange='if(this.value != 0) { this.form.submit(); }'>
                            <option value="">Cena: rosnąco</option>
                            <option value="">Cena: malejąco</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters orderListBorder">
            <div class="col-sm-12 col-md-3">
                <div class="pictureOrderWrapper">
                    <img  src="{% static 'images/Miner2_1000x1500.png' %}">
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="contentWrapperOrder">
                    <div class="titleOrder">
                        GPU #OBM10RX5700 – Koparka kryptowalut GPU ETH, ETC 10-kartowa
                    </div>
                    <div class="priceOrder">
                        26000 zł
                    </div>
                    <div class="dateOrder">
                         15 Grudnia 2020
                    </div>
                    <div class="nrOrder">
                        {% trans "Nr zamówienia" %} 2343443
                    </div>
                    <div class="moreInfoOrder">
                        <a href="#" class="moreInfoLink">{% trans "Więcej informacji" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters orderListBorder">
            <div class="col-sm-12 col-md-3">
                <div class="pictureOrderWrapper">
                    <img  src="{% static 'images/Miner2_1000x1500.png' %}">
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="contentWrapperOrder">
                    <div class="titleOrder">
                        GPU #OBM10RX5700 – Koparka kryptowalut GPU ETH, ETC 10-kartowa
                    </div>
                    <div class="priceOrder">
                        26000 zł
                    </div>
                    <div class="dateOrder">
                         15 Grudnia 2020
                    </div>
                    <div class="nrOrder">
                        {% trans "Nr zamówienia" %} 2343443
                    </div>
                    <div class="moreInfoOrder">
                        <a href="#" class="moreInfoLink">{% trans "Więcej informacji" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters orderListBorder">
            <div class="col-sm-12 col-md-3">
                <div class="pictureOrderWrapper">
                    <img  src="{% static 'images/Miner2_1000x1500.png' %}">
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="contentWrapperOrder">
                    <div class="titleOrder">
                        GPU #OBM10RX5700 – Koparka kryptowalut GPU ETH, ETC 10-kartowa
                    </div>
                    <div class="priceOrder">
                        26000 zł
                    </div>
                    <div class="dateOrder">
                         15 Grudnia 2020
                    </div>
                    <div class="nrOrder">
                        {% trans "Nr zamówienia" %} 2343443
                    </div>
                    <div class="moreInfoOrder">
                        <a href="#" class="moreInfoLink">{% trans "Więcej informacji" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters orderListBorder">
            <div class="col-sm-12 col-md-3">
                <div class="pictureOrderWrapper">
                    <img  src="{% static 'images/Miner2_1000x1500.png' %}">
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="contentWrapperOrder">
                    <div class="titleOrder">
                        GPU #OBM10RX5700 – Koparka kryptowalut GPU ETH, ETC 10-kartowa
                    </div>
                    <div class="priceOrder">
                        26000 zł
                    </div>
                    <div class="dateOrder">
                         15 Grudnia 2020
                    </div>
                    <div class="nrOrder">
                        {% trans "Nr zamówienia" %} 2343443
                    </div>
                    <div class="moreInfoOrder">
                        <a href="#" class="moreInfoLink">{% trans "Więcej informacji" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
