{% load i18n  %}

<div class="listOrderWrapper">
    <div class="listOrderNavPC">
        <div class="userWelcomeOrderPC">
            {% trans "Witaj" %},
            <div class="userNamePC">
                {{ request.user.customer  }}
            </div>
        </div>
        <a href="{% url 'order'  %}" class="linkOrderPC">
            <span class="iconOrderPC"><i class="fas fa-cubes"></i> </span>
            <span class="textOrderPC">{% trans "Zamówienia"  %}</span>
        </a>
        <a  href="{% url 'user'  %}"class="linkOrderPC">
            <span class="iconOrderPC"><i class="fas fa-users-cog"></i> </span>
            <span class="textOrderPC">{% trans "Ustawienia Konta"  %}</span>
        </a>
        <div class="lineOrderPC">
            
        </div>
    </div>
    <div class="listOrderNavMobile">
        <div class="userWelcomeOrderMobile">
            {% trans "Witaj" %},
            <div class="userNameMobile">
                {{ request.user.customer  }}
            </div>
        </div>
        <div class="categoryRootMobileOrder">
            <div  class="categoryMobile">
                <div   class="full hide-scroll">
                  <ul class="hs hsOrder" >
                    <li class="itemCategoryMobile">
                    <a href="" class="linkCategoryMobile">
                        <i class="fas fa-cubes iconCategoryMobile"></i>
                        <div class="textCategoryMobile">
                            {% trans "Zamówienia"  %}
                        </div>
                    </a>
                    </li>
                    <li class="itemCategoryMobile">
                        <a href="" class="linkCategoryMobile">
                            <i class="fas fa-undo-alt iconCategoryMobile"></i>
                            <div class="textCategoryMobile">
                                {% trans "Zwroty"  %}
                            </div>
                        </a>
                    </li>
                    <li class="itemCategoryMobile">
                        <a href="" class="linkCategoryMobile">
                            <i class="fas fa-users-cog iconCategoryMobile"></i> 
                            <div class="textCategoryMobile">
                                {% trans "Ustawienia"  %}
                            </div>
                        </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>