{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="entryContent">
                <div class="privacyPolicyText">
                    {% trans 'polityka prywatnosci'  %}
                </div>
                <p>
                    <strong>Ochrona danych osobowych</strong>
                </p>
                <ol>
                    <li>Dane osobowe Klienta przekazywane są dobrowolnie. Klient nie jest zobowiązany do podania jakichkolwiek danych. Podanie danych osobowych może nastąpić wyłącznie za zgodą Klienta z zastrzeżeniem, że podanie danych osobowych, tj. imienia i nazwiska, adresu jest niezbędne do złożenia Zamówienia. Ponadto podanie numeru konta klienta jest niezbędne do zrealizowania przez CryptoTech uprawnień Klienta z tytułu rękojmi, reklamacji i odstąpienia od umowy.</li>
                    <li>Klient przy składaniu zamówienia składa oświadczenie o wyrażeniu zgody na przetwarzanie danych osobowych.</li>
                    <li>Administratorem danych osobowych Klientów jest CryptoTech.</li>
                    <li>W sprawach związanych z ochroną danych osobowych można się kontaktować listownie na adres siedziby CryptoTech lub poprzez e-mail:</li>
                    <li>Dane osobowe Klienta przetwarzane są przez CryptoTech w celu:
                
                        <ol style="list-style-type: lower-alpha;">
                            <li>realizacji Zamówienia;</li>
                            <li>wykonania ciążących na CryptoTech obowiązków prawnych: z tytułu rękojmi, reklamacji, odstąpienia lub rozwiązania umowy, obowiązków wymaganych przez prawo podatkowe i przepisy o rachunkowości, utrzymania Konta Klienta na Stronie, w celu wykazania spełniania obowiązków rozliczalności i innych nałożonych przez przepisy o ochronie danych osobowych, dochodzenia uzasadnionych roszczeń przez CryptoTech.</li>
                        </ol>
                    </li>
                    <li>Dane osobowe Klienta mogą być udostępniane przez CryptoTech:
                
                        <ol style="list-style-type: lower-alpha;">
                            <li>pracownikom i współpracownikom CryptoTech,</li>
                            <li>podmiotom przetwarzającym w imieniu CryptoTech dane osobowe Klienta, uczestniczącym w wykonaniu umów w zakresie przesyłki Zamówień.</li>
                        </ol>
                    </li>
                    <li>Klientowi przysługuje prawo do:
                
                        <ol style="list-style-type: lower-alpha;">
                            <li>dostępu do danych osobowych, w tym prawo do informacji o danych osobowych oraz uzyskania kopii danych osobowych;</li>
                            <li>prawo sprostowania danych osobowych, jeżeli są nieprawidłowe oraz prawo do uzupełnienia danych niekompletnych;</li>
                            <li>prawo usunięcia danych osobowych;</li>
                            <li>prawo ograniczenia przetwarzania danych osobowych;</li>
                            <li>prawo do przeniesienia danych osobowych;</li>
                            <li>prawo wniesienia skargi do organu ochrony danych osobowych, tj. Prezesa Urzędu Ochrony Danych Osobowych, w przypadku stwierdzenia niezgodnego z prawem przetwarzania danych osobowych;&nbsp;</li>
                        </ol>
                    </li>
                    <li>Klient może cofnąć w dowolnym momencie każdą zgodę na przetwarzanie jego danych bez konsekwencji i bez podawania przyczyn.</li>
                    <li>Cofnięcie zgody nie ma wpływu na zgodność z prawem przetwarzania danych, których dokonano na podstawie zgody przed jej cofnięciem.</li>
                    <li>Klientowi przysługuje prawo do wniesienia sprzeciwu wobec przetwarzania jego danych osobowych;
                
                        <ol style="list-style-type: lower-alpha;">
                            <li>w celach marketingowych, w tym profilowania;</li>
                            <li>w celach wynikających z tzw. uzasadnionego interesu realizowanego przez CryptoTech, innych aniżeli marketing, z przyczyn związanych ze szczególną sytuacją Klienta.</li>
                        </ol>
                    </li>
                    <li>Klient może realizować prawa związane z ochroną danych osobowych, w każdym czasie, występując z odpowiednim żądaniem.</li>
                    <li>CryptoTech udzieli Klientowi informacji o działaniach podjętych w związku z żądaniami, o których mowa powyżej, bez zbędnej zwłoki, a w każdym razie w terminie miesiąca od otrzymania żądania. W razie potrzeby termin, o którym mowa w zdaniu poprzedzającym, może być przedłużony o kolejne dwa miesiące z uwagi na skomplikowany charakter żądania lub liczbę żądań. W terminie miesiąca od otrzymania żądania, CryptoTech informuje Klienta o takim przedłużeniu terminu z podaniem przyczyn opóźnienia.</li>
                    <li>Jeżeli CryptoTech nie podejmie działań w związku z ww. żądaniami Klienta o których, to niezwłocznie – najpóźniej w terminie miesiąca od otrzymania żądania – informuje Klienta o powodach nie podjęcia działań oraz możliwości wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych oraz skorzystania ze środków ochrony prawnej przed Sądem.</li>
                    <li>CryptoTech informuje o sprostowaniu lub uzupełnieniu lub usunięciu lub ograniczeniu przetwarzania danych osobowych Klienta, których dokonał w wykonaniu żądania Klienta, każdego odbiorcę, któremu zostały ujawnione dane Klienta. CryptoTech nie jest zobowiązany do przekazania takich informacji jedynie wówczas, gdy okaże się to niemożliwe lub będzie to wymagać niewspółmiernie dużego wysiłku.</li>
                    <li>Na żądanie Klienta, CryptoTech informuje o odbiorcach, których poinformował o sprostowaniu lub usunięciu lub ograniczeniu przetwarzania danych osobowych Klienta, a także o odbiorcach których nie udało się powiadomić CryptoTech.</li>
                </ol>
                <p>
                    <strong>Polityka cookies</strong>
                </p>
                <p>CryptoTech wykorzystuje
                pliki cookies. Cookies to pliki o charakterze tekstowym dostarczane przez Sklep
                i przechowywane na komputerze zawierające pewne informacje związane z
                korzystaniem przez Klienta ze Sklepu. Sklep wykorzystuje cookies w celu obsługi
                Klienta oraz podczas procesu Zamówienia. Pliki cookies wykorzystywane przez
                Sklep mogą mieć charakter tymczasowy lub trwały. Tymczasowe pliki cookies są
                usuwane z chwilą zamknięcia przeglądarki, natomiast stałe pliki cookies są
                przechowywane także po zakończeniu korzystania z witryny i służą do
                przechowywania informacji takich jak hasło czy login, co przyspiesza i ułatwia
                korzystanie z witryny. W każdym wypadku Klient może zablokować instalowanie
                plików cookies lub usunąć stałe pliki cookies, wykorzystując opcje przeglądarki
                internetowej.</p>
            </div>

        </div>
        
    </div>
</div>

<script>
      $( ".categoryRootMobile, .containerPricesWrapper, " ).hide();
</script>
{% endblock  %}