{% load i18n  %}
{% load static  %}

	<div class="shopTextTile">
        {% trans "Aktualne ceny kryptowalut"  %}
    </div>
	<div class="container containerPriceWrapper">
		<div class="row text-center mt-4 pl-3 pr-3">
			<div class="col-sm">
				<div class="cardWrapper">
					<div class="cardWrapperBody">
						<div class="cryptoName">Bitcoin</div>
						<div class="cryptoTitle">{% trans "Cena w dolarach"  %}</div>
						<div id="btc_val" class="h4 kpi-value cryptoPriceData"></div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="cardWrapper">
					<div class="cardWrapperBody">
						<div class="cryptoName">Ethereum</div>
						<div class="cryptoTitle">{% trans "Cena w dolarach"  %}</div>
						<div id="eth_val" class="h4 kpi-value cryptoPriceData"></div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="cardWrapper">
					<div class="cardWrapperBody">
						<div class="cryptoName">Ethereum Classic</div>
						<div class="cryptoTitle">{% trans "Cena w dolarach"  %}</div>
						<div id="etc_val" class="h4 kpi-value cryptoPriceData"></div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="cardWrapper">
					<div class="cardWrapperBody">
						<div class="cryptoName">Ravencoin</div>
						<div class="cryptoTitle">{% trans "Cena w dolarach"  %}</div>
						<div id="rvn_val" class="h4 kpi-value cryptoPriceData"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


<script>
	
	cookiePriceCheck = () =>{
		var data = document.cookie.split('CryptoPrice=')[1].split(';')[0];
		var dataJSON = JSON.parse(data)
		document.getElementById("btc_val").innerHTML = Math.round(dataJSON["BTC"])
		document.getElementById("eth_val").innerHTML = Math.round(dataJSON["ETH"])
		document.getElementById("etc_val").innerHTML = Math.round(dataJSON["ETC"])
		document.getElementById("rvn_val").innerHTML = dataJSON["RVN"]
	}

	window.addEventListener("load", cookiePriceCheck);


</script>



