
{% load static %}

<div class="container conPosCar">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    {%  for x in productImages %}
                        {% if x.url is not None  %}
                            <div class="carousel-item "><img src="{{ x.url  }}" alt="product img" /></div>
                        {% endif  %}
                    {%  endfor %}

                </div>
                <!-- Left right -->
                <a class="carousel-control-prev maxsizeCar" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a>
                <a class="carousel-control-next maxsizeCar" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
                <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">
                    {%  for x in productImages %}
                        {% if x.url is not None  %}
                            <li class="list-inline-item">
                                <a id="carousel-selector-{{forloop.counter}" class="selected" data-slide-to="{{forloop.counter}" data-target="#custCarousel">
                                    <img src="{{ x.url  }}" class="img-fluid-check" />
                                </a>
                            </li>
                        {% endif  %}                    
                    {%  endfor %}

                </ol>
            </div>
        </div>
    </div>
</div>
