{% extends 'base.html' %}
{% load i18n  %}
{% load static  %}
{% block content  %}

<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}?v=3.4.2">
<div class="container-fluid">
    <div class="containerProducts">
        <div class="grid-container-product">
            <div class="leftColProduct">
                <div class="categoryListProduct">
                    <div class="categoryTitleProduct disableBorder">
                        {% trans "Kategorie" %} 
                    </div>
                    <ul class="ulListProduct">
                        {% for x in categoryList  %}
                        <li class="liListProduct disableBorder">
                            <span>
                                <a class="listProductLink" href="{% url 'category' category=x.category|slugify  %}"> <i class="fa fa-angle-right"></i>
                                 
                                {{ x.category }}
                            
                                
                                </a>
                            </span>
                        </li>
                        {% endfor  %}
                      
        
                       
                    </ul>
                </div>
                <div class="tagsWrapper">
                    <div class="categoryTagProduct ">
                        {% trans "Tagi produktów" %} 
                    </div>
                    <div class="tagContainer">
                    {% for mt in tags %}
                        <a href="{% url 'tag' slug=mt %}" class="tagsList">{{mt}}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="rightColProduct">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="shopTextTile">
                                
                                {% if query  %}
                                    {% trans "Wyszukano" %} <b>{{ query  }}</b> 
                                {% else  %}
                                    {% trans "Polecane" %} 
                                {% endif  %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="resultsTextTile">
                                {% trans "Wyświetlanie" %} {{ productsInfo|length   }} {% trans  "wyników" %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                {% include 'productList.html'  %}
             
            </div>
          </div>
    </div>

</div>
<script src="{% static 'js/cbpViewModeSwitch.js' %}"></script>
<div class="container">
    {% include 'recentlyAdded.html' %}
</div>

{% include 'formsContainers.html'  %}

<!--- for newsletter
{% if mailingFlag %}

{% else %}
    {% include 'newsletter.html'  %}
{% endif  %}
--->

<div class="container ">
    {% include 'prices.html'  %}
</div>
{% endblock  %}