
{% load static %}

<div class="container conPosCar">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <div class="carouselSizeLimiter">
                    <!-- slides -->
                    <div class="carousel-inner carouselInnerPosition">
                        {% if product.pic1.url is not None  %}
                            <div class="carousel-item active"><img src="{{ product.pic1.url  }}" alt="product img" /></div>
                        {% endif  %}

                        {% if product.pic2.url is not None  %}
                            <div class="carousel-item"><img src="{{ product.pic2.url  }}" alt="product img" /></div>
                        {% endif  %}

                        {% if product.pic3.url is not None  %}
                            <div class="carousel-item"><img src="{{ product.pic3.url  }}" alt="product img" /></div>
                        {% endif  %}

                        {% if product.pic4.url is not None  %}
                            <div class="carousel-item"><img src="{{ product.pic4.url  }}" alt="product img" /></div>
                        {% endif  %}
                    </div>
                    <!-- Left right -->
                    <a class="carousel-control-prev maxsizeCar" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a>
                    <a class="carousel-control-next maxsizeCar" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>

                </div>
                <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">

                    {% if product.pic1.url is not None  %}
                    <li class="list-inline-item active">
                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                            <img src="{{ product.pic1.url  }}" class="img-fluid-check" />
                        </a>
                    </li>
                    {% endif  %} 
                    {% if product.pic2.url is not None  %}
                    <li class="list-inline-item">
                        <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                            <img src="{{ product.pic2.url  }}" class="img-fluid-check" />
                        </a>
                    </li>
                    {% endif  %} 
                    {% if product.pic3.url is not None  %}
                    <li class="list-inline-item">
                        <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                            <img src="{{ product.pic3.url  }}" class="img-fluid-check" />
                        </a>
                    </li>
                    {% endif  %} 
                    {% if product.pic4.url is not None  %}
                    <li class="list-inline-item">
                        <a id="carousel-selector-3" data-slide-to="3" data-target="#custCarousel">
                            <img src="{{ product.pic4.url  }}" class="img-fluid-check" />
                        </a>
                    </li>
                    {% endif  %} 

                </ol>
            </div>
        </div>
    </div>
</div>