{% extends 'base.html' %}
{% load i18n  %}
{% block content  %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
            {% include 'productCarousel.html'  %}
        </div>
		<div class="col-sm-12 col-md-6">
			<div class="titleDesktopDetail">
				{{ product.title  }}
            </div>
			<div class="smallDetailInfoWrapper">
				<div class="smallInfoContent">
                    {% trans "Producent" %}: {{ product.producent  }} &nbsp;
                </div>
				<div class="smallInfoContent">
                    Dostępność: 
                    
					<span class="colorTest">
						{{ product.stock }} {% trans "sztuk w magazyie" %}
                    </span>
				</div>
			</div>
			<div class="priceBoxDetail">
				<div class="discountBox">
					{% if product.pricePromo is None  %}
					
					{% else  %}
					{{ product.priceNormal }} zł
					{%  endif %}
                </div>
				<div class="properPriceBox">
                    {{ product.pricePromo }} zł
                </div>
				{% if product.stock == 0  %}
				<div class="buttonsDetailWrapper">
					<button  class="buttonDetail buttonDetailBlock ">
						<i class="fas fa-cart-plus" ></i> {% trans "Produkt niedostępny"  %}
					</button>
				</div>
				<div class="inaccessibleWrapper">
					<div class="inaccBox">
						<div class="inaccIcon">
							
						</div>
						<div class="inaccText">
								
						</div>
					</div>
				</div>
				{% else  %}
				<div class="buttonsDetailWrapper">
					<button data-product="{{ product.id }}" data-action="add"  class="buttonDetail update-cart">
						<i class="fas fa-cart-plus" ></i> {% trans "Dodaj do koszyka"  %}
					</button>
				</div>
				<div class="inaccessibleWrapper">
					<div class="inaccBox">
						<div class="inaccIcon">
							
						</div>
						<div class="inaccText">
								
						</div>
					</div>
				</div>
				{% endif  %}


			</div>
		</div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="descriptionDetailWrapper">
                <div class="descriptionTitle">
                    {% trans "Opis" %}
                </div>
                <div class="descriptionContnet">
                  {{ product.description|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'newsletter.html'  %}

{% endblock  %}