{% load static  %}
{% load i18n  %}
		<div class="container">

			<div class="main">
				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-selected" data-view="cbp-vm-view-grid"><i class="fas fa-th"></i></a>
						<a href="#" class="cbp-vm-icon " data-view="cbp-vm-view-list"><i class="fas fa-th-list"></i></a>
						{% if query  %}
						<div class="widthPrceChanger">
							<select class="priceSelect" name="priceChanger" id="priceChanger">
								<option value="random">{% trans "Sortuj: Standardowo"  %}</option>
								<option  value="sortPriceHighLow">{% trans "Sortuj: cena malejąco"  %}</option>
								<option  value="sortPriceLowHigh">{% trans "Sortuj: cena rosnąco"  %}</option>
							</select>
						</div>
						{% else  %}
						
						{% endif  %}
					</div>
					<ul class="listWrapper">
						{% for x in productsInfo  %}
						<li data-position="{{x.priceNormal|floatformat:'-3'}}">
							<div class="qaz">
									<a class="cbp-vm-image" href="{% url 'detail' id=x.id %}"><img src="{{ x.pic1.url }}" alt="product image"></a>
									<h3 class="cbp-vm-title">{{ x.title  }}</h3>
									{% if product.pricePromo is None  %}
									<div class="cbp-vm-price-promo"> {{  x.priceNormal }} zł</div>
									{% else  %}
									
									{%  endif %}
									<div class="cbp-vm-price"> {{ x.pricePromo  }} zł</div>
									<div class="cbp-vm-details">
										Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.
									</div>
									
									{% if x.stock == 0  %}
									<a class="cbp-vm-icon cbp-vm-block" ><i class="fas fa-cart-plus iconCart"></i></a>	
									{% else  %}
									
									<a data-product="{{ x.id }}" data-action="add" class="cbp-vm-icon cbp-vm-add  update-cart" ><i class="fas fa-cart-plus iconCart"></i></a>
									{% endif  %}
									
							</div>
						</li>
						{% endfor  %}
					</ul>
				</div>
			</div><!-- /main -->
		</div><!-- /container -->
<script>
$(document).ready(function() {

$('#priceChanger').on('change', function() {

  let sortCallback;

  // Determine the sort callback to use based on $(this) value
  switch ($(this).val()) {
  
	case "sortPriceHighLow":
	  sortCallback = (a, b) => $(b).data("position") - $(a).data("position")
	  break;

	case "sortPriceLowHigh":
	  sortCallback = (a, b) => $(a).data("position") - $(b).data("position")
	  break;

	case "random":
	  sortCallback = (a, b) => $(a).data("position") - Math.random() * $('.listWrapper li').length
	  break;
  }

  // Apply the selected "sort callback"
  $(".listWrapper").html($(".listWrapper li").sort(sortCallback))

});
});

</script>

