
		<div class="container">

			<div class="main">
				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
					</div>
					<ul>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
						<li>
							<div class="qaz">
								
							</div>
						</li>
					</ul>
				</div>
			</div><!-- /main -->
		</div><!-- /container -->

