{% load static  %}
		<div class="container">

			<div class="main">
				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
					</div>
					<ul>
						{% for x in productsInfo  %}
						<li>
							<div class="qaz">
									<a class="cbp-vm-image" href="{% url 'detail' id=x.id %}"><img src="{{ x.pic1.url }}"></a>
									<h3 class="cbp-vm-title">{{ x.title  }}</h3>
									{% if product.pricePromo is None  %}
									<div class="cbp-vm-price-promo">{{ x.pricePromo  }} zł</div>
									{% else  %}
									
									{%  endif %}
									<div class="cbp-vm-price"> {{  x.priceNormal }}zł</div>
									<div class="cbp-vm-details">
										Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.
									</div>
									<a data-product="{{ x.id }}" data-action="add" class="cbp-vm-icon cbp-vm-add  update-cart" href="#"><i class="fas fa-cart-plus"></i></a>
							</div>
						</li>
						{% endfor  %}
					</ul>
				</div>
			</div><!-- /main -->
		</div><!-- /container -->

