{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="entryContent">
                <div class="privacyPolicyText">
                    <h1>{% trans 'Regulamin'  %}</h1>
                </div>
                

                <h2><strong>I. Postanowienia og&oacute;lne</strong>&nbsp;</h2>
                
                <p><em>1.Sklep internetowy działający pod adresem: ww-tech.pl prowadzony jest przez działalność gospodarczą Ww Technology Sp. z o. o., wpisaną do&nbsp;Krajowego Rejestru Sądowego (KRS), NIP 7010700725,&nbsp;</em></p>
                
                <p><em>2.Niniejszy Regulamin skierowany jest zar&oacute;wno do Konsument&oacute;w, jak i do Przedsiębiorc&oacute;w korzystających ze Sklepu i określa zasady korzystania ze Sklepu internetowego oraz zasady i tryb zawierania Um&oacute;w Sprzedaży z Klientem na odległość za pośrednictwem Sklepu.&nbsp;</em></p>
                
                <h2><strong>&nbsp;II. Definicje</strong>&nbsp;</h2>
                
                <p><strong><em>Regulamin&nbsp;</em></strong>&ndash; niniejszy regulamin Sklepu.&nbsp;</p>
                
                <p><strong><em>Klient </em></strong>- osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Sklepu, kt&oacute;rej przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.&nbsp;</p>
                
                <p><em><strong>Konsument&nbsp;&ndash;</strong></em> osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Sklepu, kt&oacute;rej przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.&nbsp;</p>
                
                <p><em><strong>Sprzedawca&nbsp;</strong></em>&ndash; osoba fizyczna prowadząca działalność gospodarczą pod firmą&nbsp;Ww Technology Sp. z o. o.&nbsp;wpisaną do&nbsp;Krajowego Rejestru Sądowego (KRS), NIP 7010700725,&nbsp;</p>
                
                <p><strong><em>Sklep</em></strong><strong>&nbsp;</strong>&ndash; sklep internetowy prowadzony przez Sprzedawcę pod adresem internetowym https://ww-tech.pl,&nbsp;</p>
                
                <p><strong><em>Umowa zawarta na odległość&nbsp;&ndash;</em></strong> umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania um&oacute;w na odległość (w ramach Sklepu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środk&oacute;w porozumiewania się na odległość do chwili zawarcia umowy włącznie.&nbsp;</p>
                
                <p><strong><em>Zam&oacute;wienie&nbsp;</em></strong>&ndash; oświadczenie woli Klienta składane za pomocą Formularza Zam&oacute;wienia i zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produkt&oacute;w ze Sprzedawcą.&nbsp;</p>
                
                <p><strong><em>Konto&nbsp;</em></strong>&ndash; konto klienta w Sklepie, są w nim gromadzone są dane podane przez Klienta oraz informacje o złożonych przez niego Zam&oacute;wieniach w Sklepie.&nbsp;</p>
                
                <p><strong><em>Formularz zam&oacute;wienia</em></strong>&nbsp;&ndash; interaktywny formularz dostępny w Sklepie umożliwiający złożenie Zam&oacute;wienia, w szczeg&oacute;lności poprzez dodanie Produkt&oacute;w do Koszyka oraz określenie warunk&oacute;w Umowy Sprzedaży, w tym sposobu dostawy i płatności.&nbsp;</p>
                
                <p><strong><em>Koszyk</em></strong>&nbsp;&ndash; element oprogramowania Sklepu, w kt&oacute;rym widoczne są wybrane przez Klienta Produkty do zakupu, a także istnieje możliwość ustalenia i modyfikacji danych Zam&oacute;wienia, w szczeg&oacute;lności ilości produkt&oacute;w.&nbsp;</p>
                
                <p><strong><em>Produkt&nbsp;</em></strong>&ndash; dostępna w Sklepie rzecz ruchoma/usługa będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.&nbsp;</p>
                
                <p><strong><em>Umowa Sprzedaży&nbsp;</em></strong>&ndash; umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za pośrednictwem Sklepu internetowego. Przez Umowę Sprzedaży rozumie się też &ndash; stosowanie do cech Produktu &ndash; umowę o świadczenie usług i umowę o dzieło.&nbsp;</p>
                
                <h2><strong>&nbsp;III.</strong> <strong>Kontakt ze sklepem</strong>&nbsp;</h2>
                
                <p><em>1. Adres Sprzedawcy: ul. Okulickiego 7/9, 05-500 Piaseczno</em>&nbsp;</p>
                
                <p><em>2. Adres e-mail Sprzedawcy: </em><a href="mailto:biuro@wwtechnology.pl"><em>biuro@wwtechnology.pl</em></a>&nbsp;</p>
                
                <p><em>3. Klient może porozumiewać się ze Sprzedawcą za pomocą adres&oacute;w i numer&oacute;w telefon&oacute;w podanych w niniejszym paragrafie.</em>&nbsp;</p>
                
                <h2><strong>IV. Wymagania techniczne</strong>&nbsp;</h2>
                
                <p><em>&nbsp;Do korzystania ze Sklepu, w tym przeglądania asortymentu Sklepu oraz składania zam&oacute;wień na Produkty, niezbędne są:</em>&nbsp;</p>
                
                <ol>
                    <li><em>Urządzenie z dostępem do interneru iprzeglądarki internetowej.</em></li>
                    <li><em>&nbsp;Aktywne konto poczty elektronicznej.</em>&nbsp;</li>
                    <li><em>włączona obsługa plik&oacute;w cookies.</em></li>
                </ol>
                
                <h2><strong>V. </strong><strong>Informacje og&oacute;lne</strong>&nbsp;</h2>
                
                <p>1.<em>Sprzedawca w najszerszym dopuszczalnym przez prawo zakresie nie ponosi odpowiedzialności za zakł&oacute;cenia w tym przerwy w funkcjonowaniu Sklepu spowodowane siłą wyższą, niedozwolonym działaniem os&oacute;b trzecich lub niekompatybilnością Sklepu internetowego z infrastrukturą techniczną Klienta.</em>&nbsp;<br />
                <em>2. Ceny podane w Sklepie są podane w polskich złotych i są cenami brutto.</em>&nbsp;<br />
                <em>3. Na końcową (ostateczną) kwotę do zapłaty przez Klienta składa się cena za Produkt oraz koszt dostawy (w tym opłaty za transport, dostarczenie i usługi pocztowe), o kt&oacute;rej Klient jest informowany na stronach Sklepu w trakcie składania Zam&oacute;wienia, w tym także w chwili wyrażenia woli związania się Umową Sprzedaży.</em>&nbsp;<br />
                <em>4. </em><em>W przypadku Umowy obejmującej prenumeratę lub świadczenie usług na czas nieoznaczony końcową (ostateczną) ceną jest łączna cena obejmująca wszystkie płatności za okres rozliczeniowy.&nbsp;</em><br />
                <em>5. </em><em>Gdy charakter przedmiotu Umowy nie pozwala, rozsądnie oceniając, na wcześniejsze obliczenie wysokości końcowej (ostatecznej) ceny, informacja o sposobie, w jaki cena będzie obliczana, a także o opłatach za transport, dostarczenie, usługi pocztowe oraz o innych kosztach, będzie podana w Sklepie w opisie Produktu.&nbsp;</em><br />
                &nbsp;</p>
                
                <h2><strong>VI. Zasady składania zam&oacute;wienia</strong>&nbsp;</h2>
                
                <ol>
                    <li><em>wybrać Produkt będący przedmiotem Zam&oacute;wienia, a następnie kliknąć przycisk Dodaj do koszyka&rdquo;&nbsp;(lub r&oacute;wnoznaczny);</em></li>
                    <li><em>wypełnić Formularz zam&oacute;wienia poprzez wpisanie danych odbiorcy Zam&oacute;wienia oraz adresu, na kt&oacute;ry ma nastąpić dostawa Produktu, wybrać rodzaj przesyłki, wybrać spos&oacute;b płatności, wpisać dane do faktury;</em></li>
                    <li><em>Kliknąć &bdquo;zakończ&nbsp;i zapłać&rdquo;;</em></li>
                    <li><em>W zależności od wybranego sposobu płatności oplacić zam&oacute;wienie</em><br />
                    &nbsp;</li>
                </ol>
                
                <h2><strong>VII.&nbsp;</strong> <strong>Metody płatności</strong>&nbsp;</h2>
                
                <p>&nbsp; &nbsp; 1. Karta płatnicza&nbsp;<br />
                &nbsp; &nbsp; 2. Przelewy24&nbsp;<br />
                &nbsp; &nbsp; 3. Płatność got&oacute;wką przy odbiorze osobistym&nbsp;<br />
                &nbsp;<br />
                Szczeg&oacute;łowe informacje na temat metod dostawy oraz akceptowalnych metod płatności znajdują się za stronach Sklepu.&nbsp;</p>
                
                <h2><strong>VIII. Wykonanie umowy sprzedaży&nbsp;</strong></h2>
                
                <p><em>1. Zawarcie Umowy Sprzedaży między Klientem, a Sprzedawcą następuje po uprzednim złożeniu przez Klienta Zam&oacute;wienia za pomocą Formularza zam&oacute;wienia w Sklepie internetowym,&nbsp;</em></p>
                
                <p><em>2. Po złożeniu Zam&oacute;wienia Sprzedawca niezwłocznie potwierdza jego otrzymanie oraz jednocześnie przyjmuje Zam&oacute;wienie do realizacji. Potwierdzenie otrzymania Zam&oacute;wienia i jego przyjęcie do realizacji następuje poprzez przesłanie przez Sprzedawcę Klientowi stosownej wiadomości e-mail na podany w trakcie składania Zam&oacute;wienia adres poczty elektronicznej Klienta, kt&oacute;ra zawiera co najmniej oświadczenia Sprzedawcy o otrzymaniu Zam&oacute;wienia i o jego przyjęciu do realizacji oraz potwierdzenie zawarcia Umowy Sprzedaży. Z chwilą otrzymania przez Klienta powyższej wiadomości e-mail zostaje zawarta Umowa Sprzedaży między Klientem a Sprzedawcą.&nbsp;</em></p>
                
                <p><em>3.&nbsp;Dostawa Produktu odbywa się wyłącznie na terenie Polski.&nbsp;</em></p>
                
                <p><em>4. Czas realizacji zam&oacute;wienia przez Sprzedawcę wynosi do 25 dni roboczych.&nbsp;</em></p>
                
                <p>&nbsp;</p>
                
                <h2><strong>IX. Prawo odstąpienia do umowy&nbsp;</strong></h2>
                
                <p><em>1. Konsument może w terminie 14 dni odstąpić od Umowy Sprzedaży bez podania jakiejkolwiek przyczyny.&nbsp;</em></p>
                
                <p><em>2. Bieg terminu określonego w ust. 1 rozpoczyna się od dostarczenia Produktu Konsumentowi lub wskazanej przez niego osobie innej niż przewoźnik.&nbsp;</em></p>
                
                <p><em>3. W przypadku Umowy, kt&oacute;ra obejmuje wiele Produkt&oacute;w, kt&oacute;re są dostarczane osobno, partiami lub w częściach, termin wskazany w ust. 1 biegnie od dostawy ostatniej rzeczy, partii lub części.&nbsp;</em></p>
                
                <p><em>4. W przypadku Umowy, kt&oacute;ra polega na regularnym dostarczaniu Produkt&oacute;w przez czas oznaczony (prenumerata), termin wskazany w ust. 1 biegnie od objęcia w posiadanie pierwszej z rzeczy.&nbsp;</em></p>
                
                <p><em>5. Konsument może odstąpić od Umowy, składając Sprzedawcy oświadczenie o odstąpieniu od Umowy. Do zachowania terminu odstąpienia od Umowy wystarczy wysłanie przez Konsumenta oświadczenia przed upływem tego terminu.&nbsp;</em></p>
                
                <p><em>6. Oświadczenie może być wysłane drogą elektroniczną poprzez przesłanie oświadczenia na adres e-mail Sprzedawcy lub przez złożenie oświadczenia na stronie internetowej Sprzedawcy &ndash; dane kontaktowe Sprzedawcy zostały określone w &sect; 3. Oświadczenie można złożyć r&oacute;wnież na formularzu, kt&oacute;rego wz&oacute;r stanowi załącznik nr 1 do niniejszego Regulaminu oraz załącznik do ustawy z dnia 30 maja 2014 roku o prawach konsumenta, jednak nie jest to obowiązkowe.&nbsp;</em></p>
                
                <p><em>7. W przypadku przesłania oświadczenia przez Konsumenta drogą elektroniczną, Sprzedawca niezwłocznie prześle Konsumentowi na podany przez Konsumenta adres e-mail potwierdzenie otrzymania oświadczenia o odstąpieniu od Umowy.&nbsp;</em></p>
                
                <p><em>8. W przypadku odstąpienia od Umowy zawartej na odległość Umowę uważa się za niezawartą.&nbsp;</em></p>
                
                <p><em>9. W przypadku odstąpienia od Umowy Sprzedawca zwraca Konsumentowi niezwłocznie, nie p&oacute;źniej niż w terminie 14 dni od dnia otrzymania oświadczenia Konsumenta o odstąpieniu od Umowy, wszystkie dokonane przez niego płatności, w tym koszty dostarczenia rzeczy, z wyjątkiem dodatkowych koszt&oacute;w wynikających z wybranego przez Konsumenta sposobu dostarczenia innego niż najtańszy zwykły spos&oacute;b dostarczenia oferowany przez Sprzedawcę.&nbsp;</em></p>
                
                <p><em>10. Zwrotu płatności Sprzedawca dokona przy użyciu takich samych metod płatności, jakie zostały przez Konsumenta użyte w pierwotnej transakcji, chyba że Konsument wyraźnie zgodził się na inne rozwiązanie, kt&oacute;re nie będzie się wiązało dla niego z żadnymi kosztami.&nbsp;</em></p>
                
                <p><em>11. Sprzedawca może wstrzymać się ze zwrotem płatności do czasu otrzymania Produktu z powrotem lub do czasu dostarczenia mu dowodu jego odesłania, w zależności od tego, kt&oacute;re zdarzenie nastąpi wcześniej.&nbsp;</em></p>
                
                <p><em>12. Konsument powinien odesłać Produkt na adres Sprzedawcy podany w niniejszym Regulaminie niezwłocznie, nie p&oacute;źniej niż 14 dni od dnia, w kt&oacute;rym poinformował Sprzedawcę o odstąpieniu od Umowy. Termin zostanie zachowany, jeśli Konsument odeśle Produkt przed upływem terminu 14 dni.&nbsp;</em></p>
                
                <p><em>13. Konsument ponosi bezpośrednie koszty zwrotu Produktu, także koszty zwrotu Produktu, jeśli ze względu na sw&oacute;j charakter Produkt ten nie m&oacute;gł zostać w zwykłym trybie odesłany pocztą.&nbsp;</em></p>
                
                <p><em>14. Konsument odpowiada tylko za zmniejszenie wartości Produktu wynikające z korzystania z niego w spos&oacute;b inny niż było to konieczne do stwierdzenia charakteru, cech i funkcjonowania Produktu.&nbsp;</em></p>
                
                <p>&nbsp;</p>
                
                <h3>Prawo do odstąpienia od umowy zawartej na odległość nie przysługuje Konsumentowi w odniesieniu do Umowy:&nbsp;</h3>
                
                <p>&nbsp;</p>
                
                <p><em>1. w kt&oacute;rej przedmiotem świadczenia jest rzecz nieprefabrykowana, wyprodukowana według specyfikacji Konsumenta lub służąca zaspokojeniu jego zindywidualizowanych potrzeb,&nbsp;</em></p>
                
                <p><em>2. w kt&oacute;rej przedmiotem świadczenia jest rzecz dostarczana w zapieczętowanym opakowaniu, kt&oacute;rej po otwarciu opakowania nie można zwr&oacute;cić ze względu na ochronę zdrowia lub ze względ&oacute;w higienicznych, jeżeli opakowanie zostało otwarte po dostarczeniu,&nbsp;</em></p>
                
                <p><em>3. w kt&oacute;re przedmiotem świadczenia jest rzecz ulegająca szybkiemu zepsuciu lub mająca kr&oacute;tki termin przydatności do użycia,&nbsp;</em></p>
                
                <p><em>4. o świadczenie usług, jeżeli Sprzedawca wykonał w pełni usługę za wyraźną zgodą Konsumenta, kt&oacute;ry został poinformowany przez rozpoczęciem świadczenia, że po spełnieniu świadczenia przez Sprzedawcę utraci prawo odstąpienia od Umowy,&nbsp;</em></p>
                
                <p><em>5. w kt&oacute;rym cena lub wynagrodzenie zależy od wahań na rynku finansowym, nad kt&oacute;rym Sprzedawca nie sprawuje kontroli, i kt&oacute;re mogą wystąpić przed upływem terminu do odstąpienia od Umowy,&nbsp;</em></p>
                
                <p><em>6. w kt&oacute;rej przedmiotem świadczenia są rzeczy, kt&oacute;re po dostarczeniu, ze względu na sw&oacute;j charakter, zostają nierozłącznie połączone z innymi rzeczami,&nbsp;</em></p>
                
                <p><em>7. w kt&oacute;rej przedmiotem świadczenia są nagrania dźwiękowe lub wizualne albo programy komputerowe dostarczane w zapieczętowanym opakowaniu, jeżeli opakowanie zostało otwarte po dostarczeniu,&nbsp;</em></p>
                
                <p><em>8. o dostarczenie treści cyfrowych, kt&oacute;re nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą Konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez Sprzedawcę o utracie prawa odstąpienia od Umowy,&nbsp;</em></p>
                
                <h2>&nbsp;<br />
                <strong>X. Reklamacja i gwarancja&nbsp;</strong></h2>
                
                <p><em>1. Umową Sprzedaży objęte są nowe Produkty.&nbsp;</em></p>
                
                <p><em>2.&nbsp;W przypadku wystąpienia wady zakupionego u Sprzedawcy towaru Klient ma prawo do reklamacji w oparciu o przepisy dotyczące rękojmi w kodeksie cywilnym. Jeżeli Klientem jest Przedsiębiorca, strony wyłączają odpowiedzialność z tytułu rękojmi,&nbsp;</em></p>
                
                <p><em>3.&nbsp;Reklamację należy zgłosić pisemnie lub drogą elektroniczną na podane w niniejszym Regulaminie adresy Sprzedawcy lub przy wykorzystaniu elektronicznego formularza reklamacyjnego, udostępnionego przez Sprzedawcę na jednej z podstron Sklepu.&nbsp;</em></p>
                
                <p><em>4. Zaleca się, aby w reklamacji zawrzeć m.in. zwięzły opis wady, okoliczności (w tym datę) jej wystąpienia, dane Klienta składającego reklamację, oraz żądanie Klienta w związku z wadą towaru.&nbsp;</em></p>
                
                <h2><strong>XI. Dane osobowe w Sklepie internetowym&nbsp;</strong></h2>
                
                <p><em>1. Administratorem danych osobowych Klient&oacute;w zbieranych za pośrednictwem Sklepu internetowego jest Sprzedawca.&nbsp;</em></p>
                
                <p><em>2. Dane osobowe Klient&oacute;w zbierane przez administratora za pośrednictwem Sklepu internetowego zbierane są w celu realizacji Umowy Sprzedaży, a jeżeli Klient wyrazi na to zgodę &ndash; także w celu marketingowym.&nbsp;</em></p>
                
                <p><em>3. Odbiorcami danych osobowych Klient&oacute;w Sklepu internetowego mogą być:&nbsp;</em></p>
                
                <p style="margin-left:40px"><em>1) W przypadku Klienta, kt&oacute;ry korzysta w Sklepie internetowym ze sposobu dostawy przesyłką pocztową lub przesyłką kurierską, Administrator udostępnia zebrane dane osobowe Klienta wybranemu przewoźnikowi lub pośrednikowi realizującemu przesyłki na zlecenie Administratora.&nbsp;</em></p>
                
                <p style="margin-left:40px"><em>2) W przypadku Klienta, kt&oacute;ry korzysta w Sklepie internetowym ze sposobu płatności elektronicznych lub kartą płatniczą Administrator udostępnia zebrane dane osobowe Klienta, wybranemu podmiotowi obsługującemu powyższe płatności w&nbsp;Sklepie internetowym.&nbsp;</em></p>
                
                <p style="margin-left:40px"><em>3) Portal, przez kt&oacute;ry realizowane zostaje zam&oacute;wienie&nbsp;</em></p>
                
                <p><em>4. Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania.&nbsp;</em></p>
                
                <p><em>5. Podanie danych osobowych jest dobrowolne, aczkolwiek niepodanie wskazanych w Regulaminie danych osobowych niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy.&nbsp;</em></p>
                
                <h2><strong>XII. Postanowienia końcowe&nbsp;</strong></h2>
                
                <p><em>1.&nbsp;Umowy zawierane poprzez Sklep internetowy zawierane są w języku polskim.&nbsp;</em></p>
                
                <p><em>2. Sprzedawca zastrzega sobie prawo do dokonywania zmian Regulaminu z ważnych przyczyn to jest: zmiany przepis&oacute;w prawa, zmiany sposob&oacute;w płatności i dostaw &ndash; w zakresie, w jakim te zmiany wpływają na realizację postanowień niniejszego Regulaminu. O każdej zmianie Sprzedawca poinformuje Klienta z co najmniej 7 dniowym wyprzedzeniem.&nbsp;</em></p>
                
                <p><em>3. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa polskiego, w szczeg&oacute;lności: Kodeksu cywilnego; ustawy o świadczeniu usług drogą elektroniczną; ustawy o prawach konsumenta, ustawy o ochronie danych osobowych.&nbsp;</em></p>
                
                <p><em>4.&nbsp;Klient ma prawo skorzystać z pozasądowych sposob&oacute;w rozpatrywania reklamacji i dochodzenia roszczeń. W tym celu może złożyć skargę za pośrednictwem unijnej platformy internetowej ODR dostępnej pod adresem:&nbsp; http://ec.europa.eu/consumers/odr/.&nbsp;</em></p>
                

               

            </div>

        </div>
        
    </div>
</div>

<script>
      $( ".categoryRootMobile, .containerPricesWrapper, " ).hide();
</script>
{% endblock  %}