{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="container bottomBarReset">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="logoBoxReset">
                <div class="logoWrapper">
                   <a class="logoTextPc "href="{% url 'home' %}"> CryptoTech</a>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="fillerTextRegisterWrapper fillerTextRegisterReset">
                <div class="fillerRegisterTitle">
                    Potwierdzenie zresetowania hasła zostało wysłane
                </div>
                <div class="fillerRegisterContent">
                    Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym. W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.
                    <br/>Pozdrawiamy 
                    <div class="teamFillerRegister">
                        -Zespół CryptoTech
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div>
<div class="container spacerRegister">
    <div class="row">
        
    </div>
</div>





<script>
    $( ".categoryRootMobile, .containerPricesWrapper, .containerNavbarReset" ).hide();
</script>



{% endblock  %}