{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="container bottomBarReset">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="logoBoxReset">
                <div class="logoWrapper">
                   <a class="logoTextPc "href="{% url 'home' %}"> ww-tech</a>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="container spacerRegister">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="formWrapper">
                <div class="formBox">
                    <div class="createAccText">
                        {% trans "Wprowadź nowe haslo"  %}
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token  %}
                        <div class="form-group">
                            {{ form.new_password1  }}
                        </div>
                        <div class="form-group">
                            {{ form.new_password2  }}
                        </div>
                        {{ request.user  }}
                        <button type="submit" class="btnSbtRegister">
                            <span class="textSbtRegister">
                                {% trans "Zmień hasło"  %}
                            </span>
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            {% if form.errors %}
            <div class="errorBoxRegister">
                {{ form.errors  }}
            </div>
            {% endif %}
            <div class="fillerTextRegisterWrapper">
                <div class="fillerRegisterTitle">
                    Potwierdzenie zresetowania hasła
                </div>
                <div class="fillerRegisterContent">
                    Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.
                    <br/>Pozdrawiamy 
                    <div class="teamFillerRegister">
                        -Zespół ww-tech
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $( ".categoryRootMobile, .containerPricesWrapper, .containerNavbarReset" ).hide();
    var form_fields = document.getElementsByClassName('registerForm')
    form_fields[0].placeholder='{% trans "Nowe hasło"  %}';
    form_fields[1].placeholder='{% trans "Potwierdź nowe hasło"  %}';
</script>



{% endblock  %}