{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="container bottomBarReset">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="logoBoxReset">
                <div class="logoWrapper">
                   <a class="logoTextPc "href="{% url 'home' %}"> ww-tech</a>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="container spacerRegister spacerRegisterDone">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="formWrapper">
                <div class="formBox">
                    <div class="createAccText">
                        {% trans "Potwierdzenie"  %}
                    </div>
                    
                    <form action="{% url 'login'  %}">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        <button type="submit" class="btnSbtRegister">
                            <span class="textSbtRegister">
                                {% trans "Zaloguj się"  %}
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="fillerTextRegisterWrapper">
                <div class="fillerRegisterTitle">
                    Potwierdzenie zresetowania hasła zostało wysłane
                </div>
                <div class="fillerRegisterContent">
                    Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym. W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.
                    <br/>Pozdrawiamy 
                    <div class="teamFillerRegister">
                        -Zespół ww-tech
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $( ".categoryRootMobile, .containerPricesWrapper, .containerNavbarReset" ).hide();
</script>



{% endblock  %}