
{% block content  %}
{% load i18n  %}
{% load static  %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/navbarGrid.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}?v=3.4.2" >
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/productGrid.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}?v=3.4.2"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/productCarousel.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/orderGrid.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/checkoutGrid.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/newsletter.css' %}?v=3.4.2">
<link rel="stylesheet" type="text/css" href="{% static 'css/orderNav.css' %}?v=3.4.2">

<link rel="stylesheet" type="text/css" href="{% static 'owl/dist/assets/owl.carousel.min.css' %}?v=3.4.2"  media="print" onload="this.media='all'">
<link rel="stylesheet" type="text/css" href="{% static 'owl/dist/assets/owl.theme.default.min.css' %}?v=3.4.2"  media="print" onload="this.media='all'">
<link rel="stylesheet" type="text/css" href="{% static 'css/owlCarouselCustom.css' %}"  media="print" onload="this.media='all'">


<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="container bottomBarReset">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="logoBoxReset">
                <div class="logoWrapper">
                   <a class="logoTextPc "href="{% url 'home' %}"> ww-tech</a>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="container spacerRegister">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="formWrapper">
                <div class="formBox">
                    <div class="createAccText">
                        {% trans "Wprowadź nowe haslo"  %}
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token  %}
                        <div class="form-group">
                            {{ form.new_password1  }}
                        </div>
                        <div class="form-group">
                            {{ form.new_password2  }}
                        </div>
                        {{ request.user  }}
                        <button type="submit" class="btnSbtRegister">
                            <span class="textSbtRegister">
                                {% trans "Zmień hasło"  %}
                            </span>
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            {% if form.errors %}
            <div class="errorBoxRegister">
                {{ form.errors  }}
            </div>
            {% endif %}
            <div class="fillerTextRegisterWrapper">
                <div class="fillerRegisterTitle">
                    Potwierdzenie zresetowania hasła
                </div>
                <div class="fillerRegisterContent">
                    Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.
                    <br/>Pozdrawiamy 
                    <div class="teamFillerRegister">
                        -Zespół ww-tech
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/popper.min.js' %}"    crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'owl/dist/owl.carousel.min.js'  %}"></script>



<script>
    $( ".categoryRootMobile, .containerPricesWrapper, .containerNavbarReset" ).hide();
    var form_fields = document.getElementsByClassName('registerForm')
    form_fields[0].placeholder='{% trans "Nowe hasło"  %}';
    form_fields[1].placeholder='{% trans "Potwierdź nowe hasło"  %}';
</script>



{% endblock  %}