{% extends 'base.html' %}
{% block content  %}
{% load i18n  %}
<div class="container bottomBarReset">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="logoBoxReset">
                <div class="logoWrapper">
                   <a class="logoTextPc "href="{% url 'home' %}"> CryptoTech</a>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="container spacerRegister">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="formWrapper">
                <div class="formBox">
                    <div class="createAccText">
                        {% trans "Zresetuj swoje hasło"  %}
                    </div>
                    <div class="contentResetPassword"><!----Styled in login.css-->
                        {% trans 'Jeśli na ten e-mail zostało założone konto, prześlemy Ci na niego email z linkiem .'  %}
                    </div>
                    <form action="" method="POST">
                        {% csrf_token  %}
                        <div class="form-group">
                            {{ form.email  }}
                        </div>
                        <button type="submit" class="btnSbtRegister">
                            <span class="textSbtRegister">
                                {% trans "Odzyskaj swoje konto"  %}
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="fillerTextRegisterWrapper">
                <div class="fillerRegisterTitle">
                    Zresetuj swoje hasło w CryptoTech
                </div>
                <div class="fillerRegisterContent">
                    Nasza firma została stworzoną z myślą o ułatwieniu dostępu dla początkujących jak i zaawansowanych osób zainteresowanych wydobywaniem kryptowalut.
                    Na naszej stronie znajdą Państwo wszystkie rzeczy potrzebne do wydobywania kryptowalut, gotowe koparki czy też poradniki i konsultacje.
                    <br/>Pozdrawiamy 
                    <div class="teamFillerRegister">
                        -Zespół CryptoTech
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $( ".categoryRootMobile, .containerPricesWrapper, .containerNavbarReset" ).hide();
    

    var form_fields = document.getElementsByClassName('registerForm')
    form_fields[0].placeholder='{% trans "Email"  %}';

</script>



{% endblock  %}