{% load i18n  %}

<div class="editUserInfoWrapper">
    <div class="titleUserInfo">
        {% trans "Ustawienia konta"  %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">  
                <div class="boxDeleteUser">
                    
                    <a class="buttonDeleteUser" href="{% url 'reset_password'  %}">{%  trans 'Zmień hasło'  %}</a><br /><br /><br />
                    <a class="buttonDeleteUser" href="#popup1">{%  trans 'Usuń konto'  %}</a>
                </div>

                <div id="popup1" class="overlayDeleteUser">
                    <div class="popupDeleteUser">
                        <h2>{% trans 'Potwierdź usunięcie konta'  %}</h2>
                        <a class="closeDeleteUser" href="#">&times;</a>
                        <div class="contentDeleteUser">
                          {% trans 'Usunięcie konta z naszego serwisu spowoduje utratę historii twoich zamówień i uniemożliwi kolejne zakupy do momentu założenia nowego konta'  %}
                        </div>
                        <form class="formDeleteUser" method="POST">
                            {% csrf_token  %}
                            <button type="submit"  class="btn btn-sm animated-button thar-three">{% trans "Usuń konto" %}</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div>