.grid-container-ControlPanel {
    display: grid;
    width: 100%;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "controlPanelColLeft controlPanelColRight";
    margin-top: 5vh;
  }
  
  .controlPanelColLeft { grid-area: controlPanelColLeft; }
  
  .controlPanelColRight { 
    border-left: 1px solid rgb(240, 240, 240);
    min-height: 60vh;
    grid-area: controlPanelColRight; }
  

    @media (max-width:960px){
      .grid-container-ControlPanel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "controlPanelColLeft"
          "controlPanelColRight";
      }
      .controlPanelColLeft{
        display:none;
      }








      }